# Expedition Clustering: Botany EDA

### In this notebook, we will perform exploratory data analysis on the tables in the botany database. 

### The goal is to determine which fields in which tables may hold information useful in clustering records to individual expeditions.

In [99]:
import numpy as np
import pandas as pd

import pymysql

# Table Querying and EDA

## Table Overview

- **CollectingEvent**
- **CollectingEventAttribute**
- **CollectionObject**
- **CollectionObjectAttachment**
- **Attachment**
- **Locality**
- **LocalityDetail**
- **Geography**
- **GeoCoordDetail**

In [100]:
# Database connection parameters
db_config = {
    'host': 'localhost',  # or the IP address of your MySQL server
    'port': 3306,         # default MySQL port
    'user': 'myuser',
    'password': 'mypassword',
    'database': 'exped_cluster_db'
}

# Establishing the connection
connection = pymysql.connect(
    host=db_config['host'],
    port=db_config['port'],
    user=db_config['user'],
    password=db_config['password'],
    database=db_config['database']
)

## Collecting Event Table

In [3]:
# Create a cursor object
cursor = connection.cursor()

# Execute the command to list databases
# Execute the command to list databases
cursor.execute("SHOW TABLES")

# Fetch and print the databases
tables = cursor.fetchall()
for db in tables:
    print(db[0])

# # Close the connection
# connection.close()

accession
accession_copy
accessionagent
accessionattachment
accessionauthorization
accessioncitation
address
addressofrecord
agent
agentattachment
agentgeography
agentidentifier
agentspecialty
agentvariant
appraisal
attachment
attachmentdataset
attachmentimageattribute
attachmentmetadata
attachmenttag
attributedef
auth_group
auth_group_permissions
auth_permission
author
autonumberingscheme
autonumsch_coll
autonumsch_div
autonumsch_dsp
borrow
borrowagent
borrowattachment
borrowmaterial
borrowreturnmaterial
botmap
botportal
bryo_images
bryo_nobarcode
bryoportal
cch2_bryophyte
cch2_extra
cch2_images
cch2_kierstead_edits
cch2_kierstead_edits_old_new
cch2_kierstead_edits_old_new_consolidated
cch2_nobarcode
cch2_not_in_specify
cch2_pending_edits
collectingevent
collectingevent_dupes
collectingeventattachment
collectingeventattr
collectingeventattribute
collectingeventauthorization
collectingtrip
collectingtripattachment
collectingtripattribute
collectingtripauthorization
collection
collectionobject
collectionobject_dupes
collectionobjectattachment
collectionobjectattr
collectionobjectattribute
collectionobjectcitation
collectionobjectproperty
collectionrelationship
collectionreltype
collector
collector_dupes
colombia_2012_specimen_description
colombia_2013_specimen_description_copy
commonnametx
commonnametxcitation
conservdescription
conservdescriptionattachment
conservevent
conserveventattachment
container
continentcodes
countryinfo
darwincoretdwg1_4
datatype
deaccession
deaccessionagent
deaccessionattachment
determination
determination_dupes
determinationcitation
determiner
discipline
disposal
disposalagent
disposalattachment
disposalpreparation
division
django_admin_log
django_content_type
django_migrations
django_session
dnaprimer
dnasequence
dnasequenceattachment
dnasequencerunattachment
dnasequencingrun
dnasequencingruncitation
exchangein
exchangeinattachment
exchangeinprep
exchangeout
exchangeoutattachment
exchangeoutprep
exsiccata
exsiccataitem
extractor
fieldnotebook
fieldnotebookattachment
fieldnotebookpage
fieldnotebookpageattachment
fieldnotebookpageset
fieldnotebookpagesetattachment
fundingagent
geocoorddetail
geography
geographytreedef
geographytreedefitem
geologictimeperiod
geologictimeperiodtreedef
geologictimeperiodtreedefitem
geoname
georef_cch
gift
giftagent
giftattachment
giftpreparation
groupperson
hibernate_unique_key
inforequest
institution
institutionnetwork
ios_colobjagents
ios_colobjbio
ios_colobjchron
ios_colobjcnts
ios_colobjgeo
ios_colobjlitho
ios_geogeo_cnt
ios_geogeo_cty
ios_geoloc
ios_geoloc_cnt
ios_geoloc_cty
ios_taxon_pid
journal
kierstead_repatriation
latlonpolygon
latlonpolygonpnt
lichen_family_genus
lichenportal
lithostrat
lithostrattreedef
lithostrattreedefitem
loan
loanagent
loanattachment
loanpreparation
loanreturnpreparation
locality
locality_dupes
localityattachment
localitycitation
localitydetail
localitynamealias
localityupdate
localityupdaterowresult
materialsample
morphbankview
notifications_message
otheridentifier
paleocontext
pcrperson
permit
permitattachment
picklist
picklistitem
preparation
preparation_dupes
preparationattachment
preparationattr
preparationattribute
preparationproperty
preptype
project
project_colobj
recordset
recordsetitem
referencework
referenceworkattachment
repositoryagreement
repositoryagreementattachment
sgrbatchmatchresultitem
sgrbatchmatchresultset
sgrmatchconfiguration
shipment
sp_schema_mapping
spappresource
spappresourcedata
spappresourcedir
spauditlog
spauditlogfield
spdataset
specifyuser
specifyuser_spprincipal
spexportschema
spexportschemaitem
spexportschemaitemmapping
spexportschemamapping
spfieldvaluedefault
splibraryrole
splibraryrolepolicy
splocalecontainer
splocalecontaineritem
splocaleitemstr
spmerging
sppermission
spprincipal
spprincipal_sppermission
spquery
spqueryfield
spreport
sprole
sprolepolicy
spstynthy
spsymbiotainstance
sptasksemaphore
spuserexternalid
spuserpolicy
spuserrole
spversion
spviewsetobj
spvisualquery
storage
storageattachment
storagetreedef
storagetreedefitem
taxon
taxonattachment
taxonattribute
taxoncitation
taxontreedef
taxontreedefitem
treatmentevent
treatmenteventattachment
uniquenessrule
uniquenessrule_fields
user_created_lichen_genera
vagents
vbotany
vbotany_ipt
vbotany_ipt_old
vbotanycollobjlast8weeks
vbotanycollobjlastweek
vbotanyimagesurl
vbotanywebexport
vbotdwc_resourcerelationship
vbotportal
vcch2_repatriation
vdupes
vgeography
vgeography_old
vmatlexam
voucherrelationship
vtaxon2
vtaxonallranks
workbench
workbenchdataitem
workbenchrow
workbenchrowexportedrelationship
workbenchrowimage
workbenchtemplate
workbenchtemplatemappingitem

In [4]:

# SQL query to fetch data
query = "SELECT * FROM collectingevent"

# Reading the data into a pandas DataFrame
collecting_event_df = pd.read_sql(query, connection)

# Displaying the first few rows of the DataFrame
collecting_event_df.head()

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_27579/3306454721.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  collecting_event_df = pd.read_sql(query, connection)

,CollectingEventID,TimestampCreated,TimestampModified,Version,EndDate,EndDatePrecision,EndDateVerbatim,EndTime,Method,Remarks,...,StationFieldNumberModifier1,StationFieldNumberModifier2,StationFieldNumberModifier3,Text3,Text4,Text5,Text6,Text7,Text8,UniqueIdentifier
0,1,2007-03-21 16:23:34,2007-03-21 16:23:34,2,None,0.0,None,None,None,Rhododendron-bamboo thicket with scattered Abies.,...,None,None,None,None,None,None,None,None,None,None
1,2,2007-03-21 16:23:27,2017-06-07 16:46:53,2,None,0.0,None,None,None,"Selva baja caducifolia, Ruderal. Secund.",...,None,None,None,None,None,None,None,None,None,None
2,3,2007-03-21 16:23:48,2010-10-05 14:21:32,1,1922-08-10,1.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,4,2012-05-16 16:31:38,2012-05-17 14:43:24,2,None,1.0,None,None,None,atop sea bluffs. With Dudleya edulis over a l...,...,None,None,None,None,None,None,None,None,None,None
4,5,2009-05-22 16:17:06,2009-05-22 16:19:59,1,1964-03-01,2.0,None,None,None,Slope with Quercus,...,None,None,None,None,None,None,None,None,None,None

In [5]:
len(collecting_event_df)

1007987

In [6]:
collecting_event_df.columns

Index(['CollectingEventID', 'TimestampCreated', 'TimestampModified', 'Version',
       'EndDate', 'EndDatePrecision', 'EndDateVerbatim', 'EndTime', 'Method',
       'Remarks', 'StartDate', 'StartDatePrecision', 'StartDateVerbatim',
       'StartTime', 'StationFieldNumber', 'VerbatimDate', 'VerbatimLocality',
       'Visibility', 'ModifiedByAgentID', 'LocalityID', 'CreatedByAgentID',
       'DisciplineID', 'VisibilitySetByID', 'CollectingTripID',
       'CollectingEventAttributeID', 'SGRStatus', 'GUID', 'Integer1',
       'Integer2', 'ReservedInteger3', 'ReservedInteger4', 'ReservedText1',
       'ReservedText2', 'Text1', 'Text2', 'PaleoContextID',
       'StationFieldNumberModifier1', 'StationFieldNumberModifier2',
       'StationFieldNumberModifier3', 'Text3', 'Text4', 'Text5', 'Text6',
       'Text7', 'Text8', 'UniqueIdentifier'],
      dtype='object')

In [7]:
collecting_event_df[['CollectingEventID', 'StartDate', 'EndDate', 'Remarks', 'LocalityID']]

,CollectingEventID,StartDate,EndDate,Remarks,LocalityID
0,1,2005-08-17,None,Rhododendron-bamboo thicket with scattered Abies.,1.0
1,2,1988-08-19,None,"Selva baja caducifolia, Ruderal. Secund.",2.0
2,3,1922-08-10,1922-08-10,None,3.0
3,4,1950-04-24,None,atop sea bluffs. With Dudleya edulis over a l...,295658.0
4,5,1964-01-01,1964-03-01,Slope with Quercus,5.0
...,...,...,...,...,...
1007982,1055140,1990-03-21,None,on soil along the trail in part shade,984982.0
1007983,1055141,2009-03-28,None,on an oak tree trunk in part shade,984983.0
1007984,1055142,2005-06-16,None,in crevices and the face of the volcanic cliff...,984984.0
1007985,1055143,1940-07-08,None,submerged along stream above the Springs,984985.0
1007986,1055144,1980-01-19,None,"Moist, diffusely lit log in old second growth ...",984986.0

In [8]:
collecting_event_df.LocalityID.value_counts()

LocalityID
603904.0    286
603912.0    192
703686.0    154
603902.0    146
603909.0    145
           ...
330694.0      1
330695.0      1
330696.0      1
330697.0      1
984986.0      1
Name: count, Length: 931102, dtype: int64

In [9]:
sum(collecting_event_df.StartDate.isna())/len(collecting_event_df)

0.015284919349158273

### ~1.5% of records have a null StartDate

In [10]:
collecting_event_df[collecting_event_df.StartDate.isna()].isna().all()

CollectingEventID              False
TimestampCreated               False
TimestampModified              False
Version                        False
EndDate                        False
EndDatePrecision               False
EndDateVerbatim                False
EndTime                         True
Method                          True
Remarks                        False
StartDate                       True
StartDatePrecision             False
StartDateVerbatim              False
StartTime                       True
StationFieldNumber             False
VerbatimDate                   False
VerbatimLocality               False
Visibility                      True
ModifiedByAgentID              False
LocalityID                     False
CreatedByAgentID               False
DisciplineID                   False
VisibilitySetByID               True
CollectingTripID                True
CollectingEventAttributeID     False
SGRStatus                       True
GUID                           False
Integer1                        True
Integer2                        True
ReservedInteger3                True
ReservedInteger4                True
ReservedText1                   True
ReservedText2                   True
Text1                           True
Text2                           True
PaleoContextID                  True
StationFieldNumberModifier1     True
StationFieldNumberModifier2     True
StationFieldNumberModifier3     True
Text3                           True
Text4                           True
Text5                           True
Text6                           True
Text7                           True
Text8                           True
UniqueIdentifier                True
dtype: bool

Looks like it's not all just fluff data – should revist this and checkout these date-missing records

## Questions

- What is the date precision? {0:Null, 1:Excellent, 2:Good, 3:Bad}?
- Should we use date times?
- What is verbatim date?
- What is StationFieldNumber?

## Collecting Event Attribute Table

In [11]:

# SQL query to fetch data
query = "SELECT * FROM collectingeventattribute"

# Reading the data into a pandas DataFrame
collecting_event_attribute_df = pd.read_sql(query, connection)

# Displaying the first few rows of the DataFrame
collecting_event_attribute_df.tail()

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_27579/2154564346.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  collecting_event_attribute_df = pd.read_sql(query, connection)

,CollectingEventAttributeID,TimestampCreated,TimestampModified,Version,Number1,Number10,Number11,Number12,Number13,Number2,...,Integer1,Integer10,Integer2,Integer3,Integer4,Integer5,Integer6,Integer7,Integer8,Integer9
28080,29704,2021-09-01 12:58:34,2021-09-01 12:58:34,0,213688.0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
28081,29705,2021-10-18 13:47:50,2021-10-18 13:47:50,0,129827.0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
28082,29706,2021-11-17 11:40:15,2021-11-17 11:40:15,0,221450.0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
28083,29707,2023-01-05 15:24:08,2023-01-05 15:24:08,0,106953.0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
28084,29708,2023-08-09 13:19:53,2023-08-09 13:19:53,0,48670.0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [12]:
len(collecting_event_attribute_df)

28085

## Questions

- Is this a table we even care about? Or is it some artifact?
- Where is a key for the column names

## Collection Object Table

In [13]:

# SQL query to fetch data
query = "SELECT * FROM collectionobject"

# Reading the data into a pandas DataFrame
collection_object_df = pd.read_sql(query, connection)

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_27579/1360221400.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  collection_object_df = pd.read_sql(query, connection)

In [14]:
# Displaying the first few rows of the DataFrame
collection_object_df.head()

,CollectionObjectID,TimestampCreated,TimestampModified,Version,CollectionMemberID,AltCatalogNumber,Availability,CatalogNumber,CatalogedDate,CatalogedDatePrecision,...,EmbargoReleaseDatePrecision,EmbargoStartDate,EmbargoStartDatePrecision,Text4,Text5,Text6,Text7,Text8,UniqueIdentifier,EmbargoAuthorityID
0,1,2007-03-21 16:29:20,2020-07-24 16:47:38,3,4,702772,None,000522744,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None
1,4,2007-03-21 16:29:24,2024-06-24 15:14:03,24,4,1263814,None,000550184,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None
2,5,2007-03-21 16:29:20,2013-11-11 16:46:22,2,4,1060568,None,000319960,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None
3,7,2007-03-21 16:29:18,2016-05-13 14:43:44,2,4,674815,None,000504936,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None
4,8,2007-03-21 16:29:17,2009-05-20 11:41:43,1,4,385059,None,000005321,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None

In [15]:
collection_object_df.columns

Index(['CollectionObjectID', 'TimestampCreated', 'TimestampModified',
       'Version', 'CollectionMemberID', 'AltCatalogNumber', 'Availability',
       'CatalogNumber', 'CatalogedDate', 'CatalogedDatePrecision',
       'CatalogedDateVerbatim', 'CountAmt', 'Deaccessioned', 'Description',
       'FieldNumber', 'GUID', 'InventoryDate', 'Modifier', 'Name',
       'Notifications', 'Number1', 'Number2', 'ObjectCondition',
       'ProjectNumber', 'Remarks', 'Restrictions', 'Text1', 'Text2',
       'TotalValue', 'OCR', 'Visibility', 'YesNo1', 'YesNo2', 'YesNo3',
       'YesNo4', 'YesNo5', 'YesNo6', 'CollectionID', 'CollectingEventID',
       'ContainerID', 'FieldNotebookPageID', 'PaleoContextID',
       'CreatedByAgentID', 'AccessionID', 'ContainerOwnerID',
       'CollectionObjectAttributeID', 'AppraisalID', 'ModifiedByAgentID',
       'VisibilitySetByID', 'CatalogerID', 'SGRStatus', 'ReservedText',
       'Text3', 'Integer1', 'Integer2', 'ReservedInteger3', 'ReservedInteger4',
       'ReservedText2', 'ReservedText3', 'InventorizedByID', 'Date1',
       'Date1Precision', 'InventoryDatePrecision', 'Agent1ID',
       'NumberOfDuplicates', 'EmbargoReason', 'EmbargoReleaseDate',
       'EmbargoReleaseDatePrecision', 'EmbargoStartDate',
       'EmbargoStartDatePrecision', 'Text4', 'Text5', 'Text6', 'Text7',
       'Text8', 'UniqueIdentifier', 'EmbargoAuthorityID'],
      dtype='object')

In [16]:
len(collection_object_df)

1007994

In [17]:
collection_object_df[['CollectionObjectID', 'Text1', 'CollectingEventID']]

,CollectionObjectID,Text1,CollectingEventID
0,1,Shrub 10 feet tall,126372.0
1,4,Growing on Quercus trunk.,195645.0
2,5,Tree ca. 4 m tall. Fruit purplish black.,66157.0
3,7,Tree 60 feet tall.,81225.0
4,8,None,44023.0
...,...,...,...
1007989,1220335,None,1055140.0
1007990,1220336,None,1055141.0
1007991,1220337,None,1055142.0
1007992,1220338,None,1055143.0
1007993,1220339,None,1055144.0

In [18]:
len(collection_object_df.CollectionObjectID.unique())/len(collection_object_df)

1.0

In [19]:
len(collection_object_df.CollectingEventID.unique())/len(collection_object_df)

0.9999801586120552

In [20]:
sum(collection_object_df.CollectingEventID.value_counts(sort='desc') > 1)

0

In [23]:
collection_object_df[collection_object_df.CollectingEventID.isna()]

,CollectionObjectID,TimestampCreated,TimestampModified,Version,CollectionMemberID,AltCatalogNumber,Availability,CatalogNumber,CatalogedDate,CatalogedDatePrecision,...,EmbargoReleaseDatePrecision,EmbargoStartDate,EmbargoStartDatePrecision,Text4,Text5,Text6,Text7,Text8,UniqueIdentifier,EmbargoAuthorityID
416480,592370,2014-01-28 09:24:13,2014-04-21 18:21:32,9,4,99999,None,None,2014-01-28,1.0,...,None,None,None,None,None,None,None,None,None,None
599732,781521,2018-03-22 14:05:45,2018-03-22 14:05:45,1,4,384751,None,000582690,2018-03-22,1.0,...,None,None,None,None,None,None,None,None,None,None
600240,782080,2018-04-04 14:27:04,2018-04-04 14:27:04,1,4,166593,None,000581424,2018-04-04,1.0,...,None,None,None,None,None,None,None,None,None,None
600541,782391,2018-04-12 10:01:04,2018-04-12 10:01:04,1,4,1283307,None,000584176,2018-04-12,1.0,...,None,None,None,None,None,None,None,None,None,None
600546,782401,2018-04-12 10:15:02,2018-04-12 10:15:02,1,4,1283307,None,000584173,2018-04-12,1.0,...,None,None,None,None,None,None,None,None,None,None
602874,784864,2018-05-31 13:29:45,2018-05-31 13:30:35,2,4,589578,None,000397499,2018-05-31,1.0,...,None,None,None,None,None,None,None,None,None,None
605084,787251,2018-07-25 10:21:15,2018-07-25 10:22:57,2,4,None,None,None,2018-07-25,1.0,...,None,None,None,None,None,None,None,None,None,None
606534,788831,2018-08-27 16:39:03,2018-08-28 14:45:30,2,4,24651,None,000591137,2018-08-27,1.0,...,None,None,None,None,None,None,None,None,None,None
608915,791369,2018-10-15 13:58:07,2018-10-15 14:07:39,3,4,None,None,None,2018-10-15,1.0,...,None,None,None,None,None,None,None,None,None,None
611217,793775,2018-11-01 14:45:00,2018-11-01 14:45:00,1,4,598971,None,000597219,2018-11-01,1.0,...,None,None,None,None,None,None,None,None,None,None
618520,804989,2019-01-30 12:36:06,2019-01-30 12:36:06,1,4,1290022,None,000606726,2019-01-30,1.0,...,None,None,None,None,None,None,None,None,None,None
624668,811298,2019-03-07 06:58:15,2019-03-07 06:58:15,1,4,374562,None,000609466,2019-03-07,1.0,...,None,None,None,None,None,None,None,None,None,None
639491,826683,2019-07-24 09:38:42,2019-07-24 09:38:42,1,4,None,None,None,2019-07-24,1.0,...,None,None,None,None,None,None,None,None,None,None
645070,832847,2019-09-12 11:25:11,2019-09-12 11:25:11,1,4,168357,None,000632740,2019-09-12,1.0,...,None,None,None,None,None,None,None,None,None,None
654741,843210,2019-11-20 15:46:58,2019-11-20 15:46:58,1,4,1299030,None,000640437,2019-11-20,1.0,...,None,None,None,None,None,None,None,None,None,None
661754,850458,2020-01-22 11:21:39,2020-01-22 11:21:39,1,4,1302447,None,000647888,2020-01-22,1.0,...,None,None,None,None,None,None,None,None,None,None
664296,853076,2020-02-12 10:20:55,2020-02-12 10:20:55,1,4,1294099,None,000650303,2020-02-12,1.0,...,None,None,None,None,None,None,None,None,None,None

Seems like collection object -> collecting event is 1-1. There are 17 records in collection oject that are missing a collecting event ID but thats it!

## Questions

- What is (alt) catalog number?
- What is count amount?
- Agent vs Cataloger? Appraisal? Container Owner? 
- What is reserved text?

In [21]:
collection_object_df['ReservedText'].unique()

array([None, 'Gaoligong Shan', 'PBI Miconieae', 'Madagascar',
       'Gary Li Masters Project', 'Brazil', 'Symplocos',
       'Costa Rica Melastomes', 'Symplocos-Antilles', 'Chiapas',
       'Camporupestre', 'Picturae Project'], dtype=object)

In [22]:
collection_object_df['ReservedText2'].unique()

array(['Chiapas', None, 'California Plants'], dtype=object)

In [23]:
collection_object_df

,CollectionObjectID,TimestampCreated,TimestampModified,Version,CollectionMemberID,AltCatalogNumber,Availability,CatalogNumber,CatalogedDate,CatalogedDatePrecision,...,EmbargoReleaseDatePrecision,EmbargoStartDate,EmbargoStartDatePrecision,Text4,Text5,Text6,Text7,Text8,UniqueIdentifier,EmbargoAuthorityID
0,1,2007-03-21 16:29:20,2020-07-24 16:47:38,3,4,702772,None,000522744,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None
1,4,2007-03-21 16:29:24,2024-06-24 15:14:03,24,4,1263814,None,000550184,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None
2,5,2007-03-21 16:29:20,2013-11-11 16:46:22,2,4,1060568,None,000319960,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None
3,7,2007-03-21 16:29:18,2016-05-13 14:43:44,2,4,674815,None,000504936,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None
4,8,2007-03-21 16:29:17,2009-05-20 11:41:43,1,4,385059,None,000005321,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007989,1220335,2025-01-23 15:55:46,2025-01-23 15:55:46,1,4,1376950,None,000735971,2025-01-23,1.0,...,None,None,None,None,None,None,None,None,None,None
1007990,1220336,2025-01-23 15:58:10,2025-01-23 15:58:10,1,4,1376954,None,000735972,2025-01-23,1.0,...,None,None,None,None,None,None,None,None,None,None
1007991,1220337,2025-01-23 16:00:11,2025-01-23 16:00:11,1,4,1376882,None,000735973,2025-01-23,1.0,...,None,None,None,None,None,None,None,None,None,None
1007992,1220338,2025-01-23 16:02:31,2025-01-23 16:02:31,1,4,1376640,None,000735974,2025-01-23,1.0,...,None,None,None,None,None,None,None,None,None,None
1007993,1220339,2025-01-23 16:04:35,2025-01-23 16:04:35,1,4,1376634,None,000735975,2025-01-23,1.0,...,None,None,None,None,None,None,None,None,None,None

## Collection Object Attachment Table

In [117]:
# SQL query to fetch data
query = "SELECT * FROM collectionobjectattachment"

# Reading the data into a pandas DataFrame
collection_object_attachment_df = pd.read_sql(query, connection)

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_8102/695489410.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  collection_object_attachment_df = pd.read_sql(query, connection)

In [118]:
print(len(collection_object_attachment_df))

print(collection_object_attachment_df.columns)

collection_object_attachment_df.head()

492474
Index(['CollectionObjectAttachmentID', 'TimestampCreated', 'TimestampModified',
       'Version', 'CollectionMemberID', 'Ordinal', 'Remarks',
       'CreatedByAgentID', 'CollectionObjectID', 'ModifiedByAgentID',
       'AttachmentID'],
      dtype='object')

,CollectionObjectAttachmentID,TimestampCreated,TimestampModified,Version,CollectionMemberID,Ordinal,Remarks,CreatedByAgentID,CollectionObjectID,ModifiedByAgentID,AttachmentID
0,94484,2022-06-02 18:16:53,2022-06-02 18:16:53,0,4,0,None,95728,214585,NaN,94485
1,94485,2022-06-02 18:17:01,2022-06-02 18:17:01,0,4,0,None,95728,46696,NaN,94486
2,94486,2022-06-02 18:17:09,2022-06-02 18:17:09,0,4,0,None,95728,13549,NaN,94487
3,94487,2022-06-02 18:17:18,2022-06-02 18:17:18,0,4,0,None,95728,353869,NaN,94488
4,94488,2022-06-02 18:17:26,2022-06-02 18:17:26,0,4,0,None,95728,250304,NaN,94489

## Attachment

In [119]:
# SQL query to fetch data
query = "SELECT * FROM attachment"

# Reading the data into a pandas DataFrame
attachment_df = pd.read_sql(query, connection)

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_8102/2757682253.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  attachment_df = pd.read_sql(query, connection)

In [120]:
attachment_df.head()

,AttachmentID,TimestampCreated,TimestampModified,Version,AttachmentLocation,CopyrightDate,CopyrightHolder,Credit,DateImaged,FileCreatedDate,...,VisibilitySetByID,IsPublic,CreatorID,CaptureDevice,LicenseLogoUrl,MetadataText,SubjectOrientation,Subtype,Type,AttachmentStorageConfig
0,94485,2022-06-02 18:16:53,2022-06-02 18:16:53,0,f1428550-8047-41aa-bcec-00031e08784c.jpg,None,None,None,None,2022-06-02,...,None,b'\x01',None,None,None,None,None,None,None,None
1,94486,2022-06-02 18:17:01,2022-06-02 18:17:01,0,5d18edf1-5a48-4d2b-8676-53054b3d6e54.jpg,None,None,None,None,2022-06-02,...,None,b'\x01',None,None,None,None,None,None,None,None
2,94487,2022-06-02 18:17:09,2022-06-02 18:17:09,0,09e2db83-419f-4430-8da0-ec8eeaed63f7.jpg,None,None,None,None,2022-06-02,...,None,b'\x01',None,None,None,None,None,None,None,None
3,94488,2022-06-02 18:17:17,2022-06-02 18:17:17,0,bcf2aae6-1fd5-4d21-8b90-2a857953edf1.jpg,None,None,None,None,2022-06-02,...,None,b'\x01',None,None,None,None,None,None,None,None
4,94489,2022-06-02 18:17:26,2022-06-02 18:17:26,0,fdfd57aa-6e0b-4145-8b41-2e12421c985b.jpg,None,None,None,None,2022-06-02,...,None,b'\x01',None,None,None,None,None,None,None,None

In [121]:
attachment_df.__len__()

492474

In [122]:
attachment_df.columns

Index(['AttachmentID', 'TimestampCreated', 'TimestampModified', 'Version',
       'AttachmentLocation', 'CopyrightDate', 'CopyrightHolder', 'Credit',
       'DateImaged', 'FileCreatedDate', 'License', 'MimeType', 'origFilename',
       'Remarks', 'title', 'TableID', 'ScopeID', 'ScopeType', 'GUID',
       'Visibility', 'AttachmentImageAttributeID', 'ModifiedByAgentID',
       'CreatedByAgentID', 'VisibilitySetByID', 'IsPublic', 'CreatorID',
       'CaptureDevice', 'LicenseLogoUrl', 'MetadataText', 'SubjectOrientation',
       'Subtype', 'Type', 'AttachmentStorageConfig'],
      dtype='object')

In [123]:
attachment_df[['AttachmentID', 'AttachmentLocation', 'Remarks']]

,AttachmentID,AttachmentLocation,Remarks
0,94485,f1428550-8047-41aa-bcec-00031e08784c.jpg,http://ibss-images.calacademy.org:80/static/bo...
1,94486,5d18edf1-5a48-4d2b-8676-53054b3d6e54.jpg,http://ibss-images.calacademy.org:80/static/bo...
2,94487,09e2db83-419f-4430-8da0-ec8eeaed63f7.jpg,http://ibss-images.calacademy.org:80/static/bo...
3,94488,bcf2aae6-1fd5-4d21-8b90-2a857953edf1.jpg,http://ibss-images.calacademy.org:80/static/bo...
4,94489,fdfd57aa-6e0b-4145-8b41-2e12421c985b.jpg,http://ibss-images.calacademy.org:80/static/bo...
...,...,...,...
492469,606579,02d99ad2-5c8a-4398-9a37-f6b81761e48f.JPG,None
492470,606580,5a40aacb-44aa-4a2d-8f7d-72ef518d0c70.JPG,None
492471,606581,3c4cde12-3ba9-41e3-af62-1afc51981e98.JPG,None
492472,606582,1383cc38-9254-472a-8e1c-b52a976603d1.JPG,None
492473,606583,660aa170-b87c-4dd2-abef-7f5c48c2eb62.JPG,None

## Locality

In [24]:
# SQL query to fetch data
query = "SELECT * FROM locality"

# Reading the data into a pandas DataFrame
locality_df = pd.read_sql(query, connection)

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_27579/757037260.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  locality_df = pd.read_sql(query, connection)

In [25]:
locality_df.head()

,LocalityID,TimestampCreated,TimestampModified,Version,Datum,ElevationAccuracy,ElevationMethod,GML,GUID,Lat1Text,...,Text5,VerbatimLatitude,VerbatimLongitude,PaleoContextID,YesNo1,YesNo2,YesNo3,YesNo4,YesNo5,UniqueIdentifier
0,1,2007-03-21 16:19:44,NaT,1,None,NaN,None,None,62e63c63-f8be-11e2-a0e5-60eb693e819a,"27°13'3.5""N",...,None,None,None,None,None,None,None,None,None,None
1,2,2007-03-21 16:19:24,NaT,1,None,NaN,None,None,62e64086-f8be-11e2-a0e5-60eb693e819a,None,...,None,None,None,None,None,None,None,None,None,None
2,3,2007-03-21 16:19:27,NaT,1,None,0.0,None,None,62e64286-f8be-11e2-a0e5-60eb693e819a,41.3044°N,...,None,None,None,None,None,None,None,None,None,None
3,5,2008-07-21 10:00:22,NaT,1,None,0.0,None,None,62e6447b-f8be-11e2-a0e5-60eb693e819a,None,...,None,None,None,None,None,None,None,None,None,None
4,6,2007-03-21 16:19:17,NaT,1,None,NaN,None,None,62e6469e-f8be-11e2-a0e5-60eb693e819a,None,...,None,None,None,None,None,None,None,None,None,None

In [26]:
locality_df.__len__()

971660

In [27]:
locality_df[['LocalityID', 'MinElevation', 'MaxElevation', 'ElevationAccuracy', 'Latitude1', 'Longitude1', 'LocalityName', 'NamedPlace', 'GeographyID']]

,LocalityID,MinElevation,MaxElevation,ElevationAccuracy,Latitude1,Longitude1,LocalityName,NamedPlace,GeographyID
0,1,3840.0,NaN,NaN,27.217642,98.705223,"Yaduo Cun, NE of Yaping Yakou at the Myanmar b...",None,33223.0
1,2,820.0,NaN,NaN,NaN,NaN,"El Zapotal, al SE de Tuxtla Gutierrez.",None,28316.0
2,3,4700.0,4700.0,0.0,41.304400,-121.036800,Medow W of Gutzman's.,None,17158.0
3,5,6700.0,6700.0,0.0,NaN,NaN,Near Tenejapa Center.,None,28307.0
4,6,NaN,NaN,NaN,NaN,NaN,Limón Province. Rainforest slopes of Cerro Sk...,Limón Province. Rainforest slopes of Cerro Sk...,27649.0
...,...,...,...,...,...,...,...,...,...
971655,984982,50.0,NaN,NaN,NaN,NaN,"Pacific Spirit Park, in Vancouver, along the D...",None,558.0
971656,984983,110.0,NaN,NaN,44.330500,-69.060472,"Ducktrap River Preserve, Coastal Mountains Lan...",None,26853.0
971657,984984,6740.0,NaN,NaN,44.957500,-110.540833,"Yellowstone National Park, at the entrance to ...",None,20195.0
971658,984985,NaN,NaN,NaN,53.266667,-117.650000,"Jasper National Park, Miette Hot Springs",None,312.0
971659,984986,NaN,NaN,NaN,NaN,NaN,"Nisene Marks State Park, south of Santa Cruz",None,23212.0

In [28]:
locality_df.Remarks.unique()[0:20]

array([None, 'bracket (Hsing Shan Hsien)', 'bracket',
       'bracket (Hangchow)', 'bracket (Taipei Hsien)',
       '[locality from another sheet this collection; locality on this sheet not easily discerned.]',
       'bracket (De-xin)', 'Mpo. specified as El Zapotal, not current',
       'bracket (Hsiushui)', 'bracket (I-Hing)',
       'Verbatim: UTM2N  #¡Núm!     UTM1E  #¡Núm! ', 'bracket (Taitung)',
       'bracket (Nanking)', 'bracket (Kaohsiung Hsien)',
       'breacket (Tsing-tien)', 'bracket (Taipei)',
       "Lat/Long given as: lat. 15° 04-07'N. long. 92° 06-07'W",
       '[label says 4500 m but other collections this locality are 1370 m, 4500 ft]',
       'bracket (Hang Chow)', 'bracket (Ilan Hsien)'], dtype=object)

In [29]:
locality_df.GeographyID.value_counts()

GeographyID
26139.0    31419
14725.0    30889
22905.0    25106
17286.0    23321
13417.0    19292
           ...
6429.0         1
29936.0        1
33887.0        1
29230.0        1
2949.0         1
Name: count, Length: 7559, dtype: int64

In [30]:
locality_df[locality_df.GeographyID == 17158.0].Latitude1

2         41.3044
116       41.2317
125           NaN
231       41.4506
326           NaN
           ...
967105        NaN
971225        NaN
971325        NaN
971608        NaN
971619        NaN
Name: Latitude1, Length: 9326, dtype: float64

## Locality Detail Table

In [129]:
# # SQL query to fetch data
# query = "SELECT * FROM localitydetail"

# # Reading the data into a pandas DataFrame
# locality_detail_df = pd.read_sql(query, connection)

In [130]:
# locality_detail_df.head()

In [82]:
# locality_detail_df.__len__()

In [83]:
# locality_detail_df[['LocalityDetailID', 'RangeDesc', 'Section', 'Text1', 'Township', 'UtmEasting', 'LocalityID']]

## Geography

In [31]:
# SQL query to fetch data
query = "SELECT * FROM geography"

# Reading the data into a pandas DataFrame
geography_df = pd.read_sql(query, connection)

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_27579/3369494963.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  geography_df = pd.read_sql(query, connection)

In [32]:
geography_df

,GeographyID,TimestampCreated,TimestampModified,Version,Abbrev,CentroidLat,CentroidLon,CommonName,FullName,GeographyCode,...,Remarks,Text1,Text2,TimestampVersion,ModifiedByAgentID,CreatedByAgentID,ParentID,GeographyTreeDefID,AcceptedID,GeographyTreeDefItemID
0,1,2011-09-21 13:52:33,2011-09-21 13:52:33,8,None,NaN,NaN,None,Earth,None,...,None,None,None,None,NaN,NaN,NaN,1,NaN,1
1,2,2011-09-21 13:48:03,2011-09-21 13:48:03,1,AF,7.19,21.09,None,Africa,None,...,None,None,None,None,NaN,1.0,1.0,1,NaN,2
2,3,2011-09-21 13:48:03,2011-09-21 13:48:03,3,AS,29.84,89.30,None,Asia,None,...,None,None,None,None,NaN,1.0,1.0,1,NaN,2
3,4,2011-09-21 13:48:03,2011-09-21 13:48:03,3,EU,48.69,9.14,None,Europe,None,...,None,None,None,None,NaN,1.0,1.0,1,NaN,2
4,5,2011-09-21 13:48:03,2011-09-21 13:48:03,2,NA,46.07,-100.00,None,North America,None,...,None,None,None,None,NaN,1.0,1.0,1,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31265,34448,2025-01-06 14:55:27,2025-01-06 14:55:27,1,None,NaN,NaN,None,"West Grand Bahama, Bahamas",None,...,None,None,None,None,91984.0,91984.0,23.0,1,NaN,4
31266,34449,2025-01-06 14:55:56,2025-01-06 14:55:56,1,None,NaN,NaN,None,"Grand Cay, Bahamas",None,...,None,None,None,None,91984.0,91984.0,23.0,1,NaN,4
31267,34450,2025-01-06 14:56:12,2025-01-06 14:56:12,1,None,NaN,NaN,None,"Long Cay, Bahamas",None,...,None,None,None,None,91984.0,91984.0,23.0,1,NaN,4
31268,34451,2025-01-06 14:56:27,2025-01-06 14:56:27,1,None,NaN,NaN,None,"Moore's Island, Bahamas",None,...,None,None,None,None,91984.0,91984.0,23.0,1,NaN,4
31269,34452,2025-01-06 14:56:38,2025-01-06 14:56:38,1,None,NaN,NaN,None,"North Eleuthera, Bahamas",None,...,None,None,None,None,91984.0,91984.0,23.0,1,NaN,4

In [33]:
geography_df.columns

Index(['GeographyID', 'TimestampCreated', 'TimestampModified', 'Version',
       'Abbrev', 'CentroidLat', 'CentroidLon', 'CommonName', 'FullName',
       'GeographyCode', 'GML', 'GUID', 'HighestChildNodeNumber', 'IsAccepted',
       'IsCurrent', 'Name', 'NodeNumber', 'Number1', 'Number2', 'RankID',
       'Remarks', 'Text1', 'Text2', 'TimestampVersion', 'ModifiedByAgentID',
       'CreatedByAgentID', 'ParentID', 'GeographyTreeDefID', 'AcceptedID',
       'GeographyTreeDefItemID'],
      dtype='object')

In [34]:
geography_df[['GeographyID', 'CentroidLat', 'CentroidLon', 'CommonName', 'FullName', 'Name']]

,GeographyID,CentroidLat,CentroidLon,CommonName,FullName,Name
0,1,NaN,NaN,None,Earth,Earth
1,2,7.19,21.09,None,Africa,Africa
2,3,29.84,89.30,None,Asia,Asia
3,4,48.69,9.14,None,Europe,Europe
4,5,46.07,-100.00,None,North America,North America
...,...,...,...,...,...,...
31265,34448,NaN,NaN,None,"West Grand Bahama, Bahamas",West Grand Bahama
31266,34449,NaN,NaN,None,"Grand Cay, Bahamas",Grand Cay
31267,34450,NaN,NaN,None,"Long Cay, Bahamas",Long Cay
31268,34451,NaN,NaN,None,"Moore's Island, Bahamas",Moore's Island
31269,34452,NaN,NaN,None,"North Eleuthera, Bahamas",North Eleuthera

## Geo Coord Detail Table

In [135]:
# SQL query to fetch data
query = "SELECT * FROM geocoorddetail"

# Reading the data into a pandas DataFrame
geo_coord_detail_df = pd.read_sql(query, connection)

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_8102/2842786756.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  geo_coord_detail_df = pd.read_sql(query, connection)

In [136]:
geo_coord_detail_df

,GeoCoordDetailID,TimestampCreated,TimestampModified,Version,GeoRefAccuracyUnits,GeoRefDetDate,GeoRefDetRef,GeoRefRemarks,GeoRefVerificationStatus,MaxUncertaintyEst,...,Number3,Number4,Number5,Text4,Text5,YesNo1,YesNo2,YesNo3,YesNo4,YesNo5
0,1,2010-01-05 11:30:15,NaT,0,None,NaT,None,Lat/long est.,None,NaN,...,None,None,None,None,None,None,None,None,None,None
1,2,2010-01-05 11:30:15,NaT,0,None,NaT,None,Lat/long est.,None,NaN,...,None,None,None,None,None,None,None,None,None,None
2,3,2010-01-05 11:30:15,NaT,0,None,NaT,None,Lat/long est.,None,NaN,...,None,None,None,None,None,None,None,None,None,None
3,4,2010-01-05 11:30:15,NaT,0,None,NaT,None,Lat/long est.,None,NaN,...,None,None,None,None,None,None,None,None,None,None
4,5,2010-01-05 11:30:15,NaT,0,None,NaT,None,Lat/long est.,None,NaN,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27626,59135,2024-08-01 11:06:11,2024-08-01 11:06:11,0,None,NaT,None,None,None,2.77,...,None,None,None,None,None,None,None,None,None,None
27627,59136,2024-08-01 11:14:11,2024-08-01 11:14:11,0,None,NaT,None,None,None,7.73,...,None,None,None,None,None,None,None,None,None,None
27628,59137,2024-08-01 11:18:06,2024-08-01 11:18:06,0,None,NaT,None,None,None,7.73,...,None,None,None,None,None,None,None,None,None,None
27629,59138,2024-08-01 11:19:39,2024-08-01 11:19:39,0,None,NaT,None,None,None,7.73,...,None,None,None,None,None,None,None,None,None,None
27630,59139,2024-08-01 11:20:43,2024-08-01 11:20:43,0,None,NaT,None,None,None,7.73,...,None,None,None,None,None,None,None,None,None,None

In [137]:
geo_coord_detail_df[['GeoCoordDetailID', 'GeoRefRemarks', 'LocalityID']]

       GeoCoordDetailID  GeoRefRemarks  LocalityID
0                     1  Lat/long est.      235352
1                     2  Lat/long est.      235353
2                     3  Lat/long est.      235560
3                     4  Lat/long est.      238882
4                     5  Lat/long est.      238883
...                 ...            ...         ...
27626             59135           None      757822
27627             59136           None      757825
27628             59137           None      757826
27629             59138           None      757827
27630             59139           None      757828

[27631 rows x 3 columns]

This seems to be unrelated to us!

# Questions
- What is Latitude1 vs Latitude2?
- Do we really care about lat/lon/elevation accuracy and original unit?

# Merging

In [56]:
# Start with the collecting event table: ~1M rows
full_df = collecting_event_df[['CollectingEventID', 'StartDate', 'EndDate', 'Remarks', 'LocalityID']]

# Merge in Collection Object Attachment table
# full_df = full_df.merge(right=collection_object_attachment_df[['CollectionObjectID', 'CollectionObjectAttachmentID', 'AttachmentID']], on='CollectionObjectID', how='left')

# Merge in Attachment table
# full_df = full_df.merge(right=attachment_df[['AttachmentID', 'AttachmentLocation', 'Remarks']], on='AttachmentID', how='left')

# Merge in the locality table on locality ID
full_df = full_df.merge(right=locality_df[['LocalityID', 'MinElevation', 'MaxElevation', 'ElevationAccuracy', 'Latitude1', 'Longitude1', 'LocalityName', 'NamedPlace', 'GeographyID']], on='LocalityID', how='left')

# Merge in the geography table on the geography ID
# The geography ID comes from the locality table, but could be useful when locality lat/lon are missing
full_df = full_df.merge(right=geography_df[['GeographyID', 'CentroidLat', 'CentroidLon', 'CommonName', 'FullName', 'Name']])

In [58]:
full_df.__len__()

1006437

In [59]:
full_df.head(3)

,CollectingEventID,StartDate,EndDate,Remarks,LocalityID,MinElevation,MaxElevation,ElevationAccuracy,Latitude1,Longitude1,LocalityName,NamedPlace,GeographyID,CentroidLat,CentroidLon,CommonName,FullName,Name
0,1,2005-08-17,None,Rhododendron-bamboo thicket with scattered Abies.,1.0,3840.0,NaN,NaN,27.217642,98.705223,"Yaduo Cun, NE of Yaping Yakou at the Myanmar b...",None,33223.0,NaN,NaN,None,"Lishadi Xiang, Fugong County, Yunnan, China",Lishadi Xiang
1,2,1988-08-19,None,"Selva baja caducifolia, Ruderal. Secund.",2.0,820.0,NaN,NaN,NaN,NaN,"El Zapotal, al SE de Tuxtla Gutierrez.",None,28316.0,NaN,NaN,Tuxtla Gutierrez,"Tuxtla Gutierrez Municipio, Chiapas, Mexico",Tuxtla Gutierrez Municipio
2,3,1922-08-10,1922-08-10,None,3.0,4700.0,4700.0,0.0,41.304400,-121.036800,Medow W of Gutzman's.,None,17158.0,41.57,-100.0,None,"Modoc County, California, United States",Modoc County

In [60]:
full_df.to_csv('../data/full_df.csv')

### Trying with non-null lat/lon set first

In [67]:
missing_locality_lat_df = full_df[full_df.Latitude1.isna()]
len(missing_locality_lat_df)

766392

In [83]:
print('Records missing both locality and geography centroid lat/lon: ', (missing_locality_lat_df.CentroidLat.isna().sum()))
print('Records missing locality lat/lon but with geography centroid lat/lon: ', (~missing_locality_lat_df.CentroidLat.isna()).sum())
print('Proportion of records missing both locality and geography centroid lat/lon: ', (missing_locality_lat_df.CentroidLat.isna().sum())/len(missing_locality_lat_df))

Records missing both locality and geography centroid lat/lon:  125058
Records missing locality lat/lon but with geography centroid lat/lon:  641334
Proportion of records missing both locality and geography centroid lat/lon:  0.16317759058027745

Only 15% of records missing a locality lat/lon are also missing a geography centroid lat/lon.

This means that for the ~640K records that are missing a locality lat/lon, we can still pinpoint a location, albeit less precise than from locality, from the geography table data.

Aka, these 640K records are not trash! It seems like this could be done in a secondary clustering step, or by implementing a spatial confidence ratio or radius.

That being said, I think the records that are missing both locality and geography centroid lat/lons are missing too much data to be able to cluster effectively. Therefore, we should drop those records (~125K).

Future work could try to use NLP techniques to tag these records on to existing, coincident clusters with similar object remarks, text, localitynames, etc.

In [87]:
# Drop rows that do not have at least one of latitude1 or centroidlat, as that leaves us with no spatial data
clean_df = full_df[~full_df[['Latitude1', 'CentroidLat']].isna().all(axis=1)]

np.int64(13522)

In [93]:
print('Records missing StartDate: ', clean_df.StartDate.isna().sum() )
print('Proportion of records missing StartDate', ( clean_df.StartDate.isna().sum() ) / ( len(clean_df) ) )

Records missing StartDate:  13522
Proportion of records missing StartDate 0.015341867686886118

Only ~1.5%, or 13,500 records are missing a start date from the records with spatial data. Let's drop these.

Again, future work could try to attach these data missing temporal information to existing clusters based on NLP similarity.

In [94]:
# Drop rows that do not have a StartDate, as that leaves us with no temporal data
clean_df = clean_df[clean_df['StartDate'].notna()].reset_index(drop=True)

In [95]:
clean_df

,CollectingEventID,StartDate,EndDate,Remarks,LocalityID,MinElevation,MaxElevation,ElevationAccuracy,Latitude1,Longitude1,LocalityName,NamedPlace,GeographyID,CentroidLat,CentroidLon,CommonName,FullName,Name
0,1,2005-08-17,None,Rhododendron-bamboo thicket with scattered Abies.,1.0,3840.0,NaN,NaN,27.217642,98.705223,"Yaduo Cun, NE of Yaping Yakou at the Myanmar b...",None,33223.0,NaN,NaN,None,"Lishadi Xiang, Fugong County, Yunnan, China",Lishadi Xiang
1,3,1922-08-10,1922-08-10,None,3.0,4700.0,4700.0,0.0,41.304400,-121.036800,Medow W of Gutzman's.,None,17158.0,41.57,-100.0,None,"Modoc County, California, United States",Modoc County
2,4,1950-04-24,None,atop sea bluffs. With Dudleya edulis over a l...,295658.0,NaN,NaN,NaN,NaN,NaN,"San Clemente, atop sea bluffs",None,19808.0,33.70,-100.0,None,"Orange County, California, United States",Orange County
3,7,1888-01-01,1888-01-01,None,7.0,NaN,NaN,NaN,NaN,NaN,Emigrant Gap.,None,20834.0,39.07,-100.0,None,"Placer County, California, United States",Placer County
4,8,2006-08-18,2006-08-18,Wetland vegetation.,8.0,3470.0,3470.0,0.0,27.985556,98.498333,Along N side of Nianwaluo He on the trail from...,Along N side of Nianwaluo He on the trail from...,33268.0,NaN,NaN,None,"Bingzhongluo Xiang, Gongshan Autonomous County...",Bingzhongluo Xiang
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867852,1055140,1990-03-21,None,on soil along the trail in part shade,984982.0,50.0,NaN,NaN,NaN,NaN,"Pacific Spirit Park, in Vancouver, along the D...",None,558.0,54.00,-100.0,None,"British Columbia, Canada",British Columbia
867853,1055141,2009-03-28,None,on an oak tree trunk in part shade,984983.0,110.0,NaN,NaN,44.330500,-69.060472,"Ducktrap River Preserve, Coastal Mountains Lan...",None,26853.0,44.47,-69.1,None,"Waldo County, Maine, United States",Waldo County
867854,1055142,2005-06-16,None,in crevices and the face of the volcanic cliff...,984984.0,6740.0,NaN,NaN,44.957500,-110.540833,"Yellowstone National Park, at the entrance to ...",None,20195.0,44.42,-100.0,None,"Park County, Wyoming, United States",Park County
867855,1055143,1940-07-08,None,submerged along stream above the Springs,984985.0,NaN,NaN,NaN,53.266667,-117.650000,"Jasper National Park, Miette Hot Springs",None,312.0,52.28,-100.0,None,"Alberta, Canada",Alberta
867856,1055144,1980-01-19,None,"Moist, diffusely lit log in old second growth ...",984986.0,NaN,NaN,NaN,NaN,NaN,"Nisene Marks State Park, south of Santa Cruz",None,23212.0,37.07,-100.0,None,"Santa Cruz County, California, United States",Santa Cruz County

In [98]:
clean_df.to_csv('../data/clean_df.csv')

In [97]:
# Closing the connection
connection.close()

# Summary

In [104]:
clean_df.__len__()

867857

After a high-level overview of all the tables in the CAS Botany Backup database, we selected a subset of 9 tables to inspect more deeply. These were __CollectingEvent__, __CollectingEventAttribute__, __CollectionObject__, __CollectionObjectAttachment__, __Attachment__, __Locality__, __LocalityDetail__, __Geography__, and __GeoCoordDetail__. 

After looking through these tables, we decided that __CollectingEvent__ would be our parent table for this clustering project, with _CollectingEventID_ serving as the main UUID to reference, and _StartDate_ as the temporal variable for clustering.

The fields _Latitude1_ and _Longitude1_ from the __Locality__ table, referenced in __CollectingEvent__ by _LocalityID_, serve as our spatial variables for clustering. 

Only ~240K records have non-null _StartDate_, _Latitude1_, and _Longitude1_ fields. An additional ~640K records missing spatial information do have _CentroidLat_ and _CentroidLon_ spatial inforomation from the __Geography__ table. While these centroid lat/lons are less precise than the locality lat/lons, they may still be used in clustering.

Our final, clean dataset has ~868K records, with ~1/3 of those containing precise spatial data.