# Expedition Clustering: Botany EDA

### In this notebook, we will perform exploratory data analysis on the tables in the botany database. 

### The goal is to determine which fields in which tables may hold information useful in clustering records to individual expeditions.

## Tables
-  **CollectingEvent**
-  **CollectingEventAttribute**
-  **CollectionObject**
-  **CollectionObjectAttachment**
-  **Attachment**
-  **Locality**
-  **LocalityDetail**
-  **Geography**
-  **GeoCoordDetail**

In [189]:
import numpy as np
import pandas as pd

import pymysql

In [144]:
# Database connection parameters
db_config = {
    'host': 'localhost',  # or the IP address of your MySQL server
    'port': 3306,         # default MySQL port
    'user': 'myuser',
    'password': 'mypassword',
    'database': 'exped_cluster_db'
}

# Establishing the connection
connection = pymysql.connect(
    host=db_config['host'],
    port=db_config['port'],
    user=db_config['user'],
    password=db_config['password'],
    database=db_config['database']
)

# Collecting Event Table

In [145]:

# SQL query to fetch data
query = "SELECT * FROM collectingevent"

# Reading the data into a pandas DataFrame
collecting_event_df = pd.read_sql(query, connection)

# Displaying the first few rows of the DataFrame
collecting_event_df.head()

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_26565/3306454721.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  collecting_event_df = pd.read_sql(query, connection)

,CollectingEventID,TimestampCreated,TimestampModified,Version,EndDate,EndDatePrecision,EndDateVerbatim,EndTime,Method,Remarks,...,StationFieldNumberModifier1,StationFieldNumberModifier2,StationFieldNumberModifier3,Text3,Text4,Text5,Text6,Text7,Text8,UniqueIdentifier
0,1,2007-03-21 16:23:34,2007-03-21 16:23:34,2,None,0.0,None,None,None,Rhododendron-bamboo thicket with scattered Abies.,...,None,None,None,None,None,None,None,None,None,None
1,2,2007-03-21 16:23:27,2017-06-07 16:46:53,2,None,0.0,None,None,None,"Selva baja caducifolia, Ruderal. Secund.",...,None,None,None,None,None,None,None,None,None,None
2,3,2007-03-21 16:23:48,2010-10-05 14:21:32,1,1922-08-10,1.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,4,2012-05-16 16:31:38,2012-05-17 14:43:24,2,None,1.0,None,None,None,atop sea bluffs. With Dudleya edulis over a l...,...,None,None,None,None,None,None,None,None,None,None
4,5,2009-05-22 16:17:06,2009-05-22 16:19:59,1,1964-03-01,2.0,None,None,None,Slope with Quercus,...,None,None,None,None,None,None,None,None,None,None

In [146]:
len(collecting_event_df)

777807

In [147]:
collecting_event_df.columns

Index(['CollectingEventID', 'TimestampCreated', 'TimestampModified', 'Version',
       'EndDate', 'EndDatePrecision', 'EndDateVerbatim', 'EndTime', 'Method',
       'Remarks', 'StartDate', 'StartDatePrecision', 'StartDateVerbatim',
       'StartTime', 'StationFieldNumber', 'VerbatimDate', 'VerbatimLocality',
       'Visibility', 'ModifiedByAgentID', 'LocalityID', 'CreatedByAgentID',
       'DisciplineID', 'VisibilitySetByID', 'CollectingTripID',
       'CollectingEventAttributeID', 'SGRStatus', 'GUID', 'Integer1',
       'Integer2', 'ReservedInteger3', 'ReservedInteger4', 'ReservedText1',
       'ReservedText2', 'Text1', 'Text2', 'PaleoContextID',
       'StationFieldNumberModifier1', 'StationFieldNumberModifier2',
       'StationFieldNumberModifier3', 'Text3', 'Text4', 'Text5', 'Text6',
       'Text7', 'Text8', 'UniqueIdentifier'],
      dtype='object')

In [148]:
collecting_event_df[['CollectingEventID', 'StartDate', 'EndDate', 'Remarks', 'LocalityID']]

,CollectingEventID,StartDate,EndDate,Remarks,LocalityID
0,1,2005-08-17,None,Rhododendron-bamboo thicket with scattered Abies.,1.0
1,2,1988-08-19,None,"Selva baja caducifolia, Ruderal. Secund.",2.0
2,3,1922-08-10,1922-08-10,None,3.0
3,4,1950-04-24,None,atop sea bluffs. With Dudleya edulis over a l...,295658.0
4,5,1964-01-01,1964-03-01,Slope with Quercus,5.0
...,...,...,...,...,...
777802,823109,2020-04-09,None,Growing in talus below limestone rock outcrops,758830.0
777803,823110,2023-06-02,None,Growing with Sarcobatus baileyi on the valley ...,758831.0
777804,823111,2022-04-08,None,"Heavy clay and rocky ""pebble plain"" soil, appa...",758832.0
777805,823112,2023-08-22,None,Growing at the edge of a small pond along the ...,758833.0
777806,823113,2023-05-29,None,"Growing on open Juniper barrens, clay soil.",758834.0

## Questions

- What is the date precision? {0:Null, 1:Excellent, 2:Good, 3:Bad}?
- Should we use date times?
- What is verbatim date?
- What is StationFieldNumber?

# Collecting Event Attribute Table

In [149]:

# SQL query to fetch data
query = "SELECT * FROM collectingeventattribute"

# Reading the data into a pandas DataFrame
collecting_event_attribute_df = pd.read_sql(query, connection)

# Displaying the first few rows of the DataFrame
collecting_event_attribute_df.tail()

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_26565/2154564346.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  collecting_event_attribute_df = pd.read_sql(query, connection)

,CollectingEventAttributeID,TimestampCreated,TimestampModified,Version,Number1,Number10,Number11,Number12,Number13,Number2,...,Integer1,Integer10,Integer2,Integer3,Integer4,Integer5,Integer6,Integer7,Integer8,Integer9
28080,29704,2021-09-01 12:58:34,2021-09-01 12:58:34,0,213688.0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
28081,29705,2021-10-18 13:47:50,2021-10-18 13:47:50,0,129827.0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
28082,29706,2021-11-17 11:40:15,2021-11-17 11:40:15,0,221450.0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
28083,29707,2023-01-05 15:24:08,2023-01-05 15:24:08,0,106953.0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
28084,29708,2023-08-09 13:19:53,2023-08-09 13:19:53,0,48670.0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [150]:
len(collecting_event_attribute_df)

28085

## Questions

- Is this a table we even care about? Or is it some artifact?
- Where is a key for the column names

# Collection Object Table

In [151]:

# SQL query to fetch data
query = "SELECT * FROM collectionobject"

# Reading the data into a pandas DataFrame
collection_object_df = pd.read_sql(query, connection)

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_26565/1360221400.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  collection_object_df = pd.read_sql(query, connection)

In [152]:
# Displaying the first few rows of the DataFrame
collection_object_df.head()

,CollectionObjectID,TimestampCreated,TimestampModified,Version,CollectionMemberID,AltCatalogNumber,Availability,CatalogNumber,CatalogedDate,CatalogedDatePrecision,...,EmbargoReleaseDatePrecision,EmbargoStartDate,EmbargoStartDatePrecision,Text4,Text5,Text6,Text7,Text8,UniqueIdentifier,EmbargoAuthorityID
0,1,2007-03-21 16:29:20,2020-07-24 16:47:38,3,4,702772,None,000522744,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None
1,4,2007-03-21 16:29:24,2024-06-24 15:14:03,24,4,1263814,None,000550184,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None
2,5,2007-03-21 16:29:20,2013-11-11 16:46:22,2,4,1060568,None,000319960,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None
3,7,2007-03-21 16:29:18,2016-05-13 14:43:44,2,4,674815,None,000504936,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None
4,8,2007-03-21 16:29:17,2009-05-20 11:41:43,1,4,385059,None,000005321,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None

In [153]:
collection_object_df.columns

Index(['CollectionObjectID', 'TimestampCreated', 'TimestampModified',
       'Version', 'CollectionMemberID', 'AltCatalogNumber', 'Availability',
       'CatalogNumber', 'CatalogedDate', 'CatalogedDatePrecision',
       'CatalogedDateVerbatim', 'CountAmt', 'Deaccessioned', 'Description',
       'FieldNumber', 'GUID', 'InventoryDate', 'Modifier', 'Name',
       'Notifications', 'Number1', 'Number2', 'ObjectCondition',
       'ProjectNumber', 'Remarks', 'Restrictions', 'Text1', 'Text2',
       'TotalValue', 'OCR', 'Visibility', 'YesNo1', 'YesNo2', 'YesNo3',
       'YesNo4', 'YesNo5', 'YesNo6', 'CollectionID', 'CollectingEventID',
       'ContainerID', 'FieldNotebookPageID', 'PaleoContextID',
       'CreatedByAgentID', 'AccessionID', 'ContainerOwnerID',
       'CollectionObjectAttributeID', 'AppraisalID', 'ModifiedByAgentID',
       'VisibilitySetByID', 'CatalogerID', 'SGRStatus', 'ReservedText',
       'Text3', 'Integer1', 'Integer2', 'ReservedInteger3', 'ReservedInteger4',
       'ReservedText2', 'ReservedText3', 'InventorizedByID', 'Date1',
       'Date1Precision', 'InventoryDatePrecision', 'Agent1ID',
       'NumberOfDuplicates', 'EmbargoReason', 'EmbargoReleaseDate',
       'EmbargoReleaseDatePrecision', 'EmbargoStartDate',
       'EmbargoStartDatePrecision', 'Text4', 'Text5', 'Text6', 'Text7',
       'Text8', 'UniqueIdentifier', 'EmbargoAuthorityID'],
      dtype='object')

In [154]:
len(collection_object_df)

777812

In [155]:
collection_object_df[['CollectionObjectID', 'Text1', 'CollectingEventID']]

,CollectionObjectID,Text1,CollectingEventID
0,1,Shrub 10 feet tall,126372.0
1,4,Growing on Quercus trunk.,195645.0
2,5,Tree ca. 4 m tall. Fruit purplish black.,66157.0
3,7,Tree 60 feet tall.,81225.0
4,8,None,44023.0
...,...,...,...
777807,988271,Annual,823109.0
777808,988272,"Annual to 1.2 m tall, multi-branched.",823110.0
777809,988273,"Annual, petals yellow, sepals with yellow marg...",823111.0
777810,988274,petals yellow,823112.0
777811,988275,"Annual, glaucous, growing around Juniperus.",823113.0

In [156]:
len(collection_object_df.CollectionObjectID.unique())/len(collection_object_df)

1.0

In [157]:
len(collection_object_df.CollectingEventID.unique())/len(collection_object_df)

0.9999794294765316

In [158]:
sum(collection_object_df.CollectingEventID.value_counts(sort='desc') > 1)

0

In [159]:
collection_object_df[collection_object_df.CollectingEventID.isna()]

,CollectionObjectID,TimestampCreated,TimestampModified,Version,CollectionMemberID,AltCatalogNumber,Availability,CatalogNumber,CatalogedDate,CatalogedDatePrecision,...,EmbargoReleaseDatePrecision,EmbargoStartDate,EmbargoStartDatePrecision,Text4,Text5,Text6,Text7,Text8,UniqueIdentifier,EmbargoAuthorityID
416480,592370,2014-01-28 09:24:13,2014-04-21 18:21:32,9,4,99999,None,None,2014-01-28,1.0,...,None,None,None,None,None,None,None,None,None,None
599732,781521,2018-03-22 14:05:45,2018-03-22 14:05:45,1,4,384751,None,000582690,2018-03-22,1.0,...,None,None,None,None,None,None,None,None,None,None
600240,782080,2018-04-04 14:27:04,2018-04-04 14:27:04,1,4,166593,None,000581424,2018-04-04,1.0,...,None,None,None,None,None,None,None,None,None,None
600541,782391,2018-04-12 10:01:04,2018-04-12 10:01:04,1,4,1283307,None,000584176,2018-04-12,1.0,...,None,None,None,None,None,None,None,None,None,None
600546,782401,2018-04-12 10:15:02,2018-04-12 10:15:02,1,4,1283307,None,000584173,2018-04-12,1.0,...,None,None,None,None,None,None,None,None,None,None
602874,784864,2018-05-31 13:29:45,2018-05-31 13:30:35,2,4,589578,None,000397499,2018-05-31,1.0,...,None,None,None,None,None,None,None,None,None,None
605084,787251,2018-07-25 10:21:15,2018-07-25 10:22:57,2,4,None,None,None,2018-07-25,1.0,...,None,None,None,None,None,None,None,None,None,None
606534,788831,2018-08-27 16:39:03,2018-08-28 14:45:30,2,4,24651,None,000591137,2018-08-27,1.0,...,None,None,None,None,None,None,None,None,None,None
608915,791369,2018-10-15 13:58:07,2018-10-15 14:07:39,3,4,None,None,None,2018-10-15,1.0,...,None,None,None,None,None,None,None,None,None,None
611217,793775,2018-11-01 14:45:00,2018-11-01 14:45:00,1,4,598971,None,000597219,2018-11-01,1.0,...,None,None,None,None,None,None,None,None,None,None
618520,804989,2019-01-30 12:36:06,2019-01-30 12:36:06,1,4,1290022,None,000606726,2019-01-30,1.0,...,None,None,None,None,None,None,None,None,None,None
624668,811298,2019-03-07 06:58:15,2019-03-07 06:58:15,1,4,374562,None,000609466,2019-03-07,1.0,...,None,None,None,None,None,None,None,None,None,None
639491,826683,2019-07-24 09:38:42,2019-07-24 09:38:42,1,4,None,None,None,2019-07-24,1.0,...,None,None,None,None,None,None,None,None,None,None
645070,832847,2019-09-12 11:25:11,2019-09-12 11:25:11,1,4,168357,None,000632740,2019-09-12,1.0,...,None,None,None,None,None,None,None,None,None,None
654741,843210,2019-11-20 15:46:58,2019-11-20 15:46:58,1,4,1299030,None,000640437,2019-11-20,1.0,...,None,None,None,None,None,None,None,None,None,None
661754,850458,2020-01-22 11:21:39,2020-01-22 11:21:39,1,4,1302447,None,000647888,2020-01-22,1.0,...,None,None,None,None,None,None,None,None,None,None
664296,853076,2020-02-12 10:20:55,2020-02-12 10:20:55,1,4,1294099,None,000650303,2020-02-12,1.0,...,None,None,None,None,None,None,None,None,None,None

Seems like collection object -> collecting event is 1-1. There are 17 records in collection oject that are missing a collecting event ID but thats it!

## Questions

- What is (alt) catalog number?
- What is count amount?
- Agent vs Cataloger? Appraisal? Container Owner? 
- What is reserved text?

In [160]:
collection_object_df['ReservedText'].unique()

array([None, 'Gaoligong Shan', 'PBI Miconieae', 'Madagascar',
       'Gary Li Masters Project', 'Brazil', 'Symplocos',
       'Costa Rica Melastomes', 'Symplocos-Antilles', 'Chiapas',
       'Camporupestre', 'Picturae Project'], dtype=object)

In [161]:
collection_object_df['ReservedText2'].unique()

array(['Chiapas', None, 'California Plants'], dtype=object)

# Collection Object Attachment Table

In [162]:
# SQL query to fetch data
query = "SELECT * FROM collectionobjectattachment"

# Reading the data into a pandas DataFrame
collection_object_attachment_df = pd.read_sql(query, connection)

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_26565/695489410.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  collection_object_attachment_df = pd.read_sql(query, connection)

In [163]:
print(len(collection_object_attachment_df))

print(collection_object_attachment_df.columns)

collection_object_attachment_df.head()

492474
Index(['CollectionObjectAttachmentID', 'TimestampCreated', 'TimestampModified',
       'Version', 'CollectionMemberID', 'Ordinal', 'Remarks',
       'CreatedByAgentID', 'CollectionObjectID', 'ModifiedByAgentID',
       'AttachmentID'],
      dtype='object')

,CollectionObjectAttachmentID,TimestampCreated,TimestampModified,Version,CollectionMemberID,Ordinal,Remarks,CreatedByAgentID,CollectionObjectID,ModifiedByAgentID,AttachmentID
0,94484,2022-06-02 18:16:53,2022-06-02 18:16:53,0,4,0,None,95728,214585,NaN,94485
1,94485,2022-06-02 18:17:01,2022-06-02 18:17:01,0,4,0,None,95728,46696,NaN,94486
2,94486,2022-06-02 18:17:09,2022-06-02 18:17:09,0,4,0,None,95728,13549,NaN,94487
3,94487,2022-06-02 18:17:18,2022-06-02 18:17:18,0,4,0,None,95728,353869,NaN,94488
4,94488,2022-06-02 18:17:26,2022-06-02 18:17:26,0,4,0,None,95728,250304,NaN,94489

# Attachment

In [164]:
# SQL query to fetch data
query = "SELECT * FROM attachment"

# Reading the data into a pandas DataFrame
attachment_df = pd.read_sql(query, connection)

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_26565/2757682253.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  attachment_df = pd.read_sql(query, connection)

In [165]:
attachment_df.head()

,AttachmentID,TimestampCreated,TimestampModified,Version,AttachmentLocation,CopyrightDate,CopyrightHolder,Credit,DateImaged,FileCreatedDate,...,VisibilitySetByID,IsPublic,CreatorID,CaptureDevice,LicenseLogoUrl,MetadataText,SubjectOrientation,Subtype,Type,AttachmentStorageConfig
0,94485,2022-06-02 18:16:53,2022-06-02 18:16:53,0,f1428550-8047-41aa-bcec-00031e08784c.jpg,None,None,None,None,2022-06-02,...,None,b'\x01',None,None,None,None,None,None,None,None
1,94486,2022-06-02 18:17:01,2022-06-02 18:17:01,0,5d18edf1-5a48-4d2b-8676-53054b3d6e54.jpg,None,None,None,None,2022-06-02,...,None,b'\x01',None,None,None,None,None,None,None,None
2,94487,2022-06-02 18:17:09,2022-06-02 18:17:09,0,09e2db83-419f-4430-8da0-ec8eeaed63f7.jpg,None,None,None,None,2022-06-02,...,None,b'\x01',None,None,None,None,None,None,None,None
3,94488,2022-06-02 18:17:17,2022-06-02 18:17:17,0,bcf2aae6-1fd5-4d21-8b90-2a857953edf1.jpg,None,None,None,None,2022-06-02,...,None,b'\x01',None,None,None,None,None,None,None,None
4,94489,2022-06-02 18:17:26,2022-06-02 18:17:26,0,fdfd57aa-6e0b-4145-8b41-2e12421c985b.jpg,None,None,None,None,2022-06-02,...,None,b'\x01',None,None,None,None,None,None,None,None

In [166]:
attachment_df.__len__()

492474

In [167]:
attachment_df.columns

Index(['AttachmentID', 'TimestampCreated', 'TimestampModified', 'Version',
       'AttachmentLocation', 'CopyrightDate', 'CopyrightHolder', 'Credit',
       'DateImaged', 'FileCreatedDate', 'License', 'MimeType', 'origFilename',
       'Remarks', 'title', 'TableID', 'ScopeID', 'ScopeType', 'GUID',
       'Visibility', 'AttachmentImageAttributeID', 'ModifiedByAgentID',
       'CreatedByAgentID', 'VisibilitySetByID', 'IsPublic', 'CreatorID',
       'CaptureDevice', 'LicenseLogoUrl', 'MetadataText', 'SubjectOrientation',
       'Subtype', 'Type', 'AttachmentStorageConfig'],
      dtype='object')

In [168]:
attachment_df[['AttachmentID', 'AttachmentLocation', 'Remarks']]

,AttachmentID,AttachmentLocation,Remarks
0,94485,f1428550-8047-41aa-bcec-00031e08784c.jpg,http://ibss-images.calacademy.org:80/static/bo...
1,94486,5d18edf1-5a48-4d2b-8676-53054b3d6e54.jpg,http://ibss-images.calacademy.org:80/static/bo...
2,94487,09e2db83-419f-4430-8da0-ec8eeaed63f7.jpg,http://ibss-images.calacademy.org:80/static/bo...
3,94488,bcf2aae6-1fd5-4d21-8b90-2a857953edf1.jpg,http://ibss-images.calacademy.org:80/static/bo...
4,94489,fdfd57aa-6e0b-4145-8b41-2e12421c985b.jpg,http://ibss-images.calacademy.org:80/static/bo...
...,...,...,...
492469,606579,02d99ad2-5c8a-4398-9a37-f6b81761e48f.JPG,None
492470,606580,5a40aacb-44aa-4a2d-8f7d-72ef518d0c70.JPG,None
492471,606581,3c4cde12-3ba9-41e3-af62-1afc51981e98.JPG,None
492472,606582,1383cc38-9254-472a-8e1c-b52a976603d1.JPG,None
492473,606583,660aa170-b87c-4dd2-abef-7f5c48c2eb62.JPG,None

# Locality

In [169]:
# SQL query to fetch data
query = "SELECT * FROM locality"

# Reading the data into a pandas DataFrame
locality_df = pd.read_sql(query, connection)

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_26565/757037260.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  locality_df = pd.read_sql(query, connection)

In [170]:
locality_df.head()

,LocalityID,TimestampCreated,TimestampModified,Version,Datum,ElevationAccuracy,ElevationMethod,GML,GUID,Lat1Text,...,Text5,VerbatimLatitude,VerbatimLongitude,PaleoContextID,YesNo1,YesNo2,YesNo3,YesNo4,YesNo5,UniqueIdentifier
0,1,2007-03-21 16:19:44,NaT,1,None,NaN,None,None,62e63c63-f8be-11e2-a0e5-60eb693e819a,"27°13'3.5""N",...,None,None,None,None,None,None,None,None,None,None
1,2,2007-03-21 16:19:24,NaT,1,None,NaN,None,None,62e64086-f8be-11e2-a0e5-60eb693e819a,None,...,None,None,None,None,None,None,None,None,None,None
2,3,2007-03-21 16:19:27,NaT,1,None,0.0,None,None,62e64286-f8be-11e2-a0e5-60eb693e819a,41.3044°N,...,None,None,None,None,None,None,None,None,None,None
3,5,2008-07-21 10:00:22,NaT,1,None,0.0,None,None,62e6447b-f8be-11e2-a0e5-60eb693e819a,None,...,None,None,None,None,None,None,None,None,None,None
4,6,2007-03-21 16:19:17,NaT,1,None,NaN,None,None,62e6469e-f8be-11e2-a0e5-60eb693e819a,None,...,None,None,None,None,None,None,None,None,None,None

In [171]:
locality_df.__len__()

745752

In [172]:
locality_df[['LocalityID', 'MinElevation', 'MaxElevation', 'ElevationAccuracy', 'Latitude1', 'Longitude1', 'LocalityName', 'NamedPlace', 'GeographyID']]

,LocalityID,MinElevation,MaxElevation,ElevationAccuracy,Latitude1,Longitude1,LocalityName,NamedPlace,GeographyID
0,1,3840.0,NaN,NaN,27.217642,98.705223,"Yaduo Cun, NE of Yaping Yakou at the Myanmar b...",None,33223.0
1,2,820.0,NaN,NaN,NaN,NaN,"El Zapotal, al SE de Tuxtla Gutierrez.",None,28316.0
2,3,4700.0,4700.0,0.0,41.304400,-121.036800,Medow W of Gutzman's.,None,17158.0
3,5,6700.0,6700.0,0.0,NaN,NaN,Near Tenejapa Center.,None,28307.0
4,6,NaN,NaN,NaN,NaN,NaN,Limón Province. Rainforest slopes of Cerro Sk...,Limón Province. Rainforest slopes of Cerro Sk...,27649.0
...,...,...,...,...,...,...,...,...,...
745747,758830,2600.0,NaN,NaN,36.279700,-116.169100,"NW side Stewart Valley, 8.6 road miles N of hi...",None,19090.0
745748,758831,5600.0,NaN,NaN,38.530200,-117.546340,"Big Smoky Valley, 2.7 road miles NNE of Gabbs ...",None,19090.0
745749,758832,5400.0,NaN,NaN,33.633333,-116.600000,Garner Valley Watershed. W of Morris Ranch Roa...,None,22474.0
745750,758833,6440.0,NaN,NaN,41.744940,-114.945580,"Snake Mountains, canyon on W side of Little De...",None,10391.0
745751,758834,6180.0,NaN,NaN,38.496270,-117.916740,"Monte Cristo Valley, 0.3 road miles W of main ...",None,17060.0

In [173]:
locality_df.Remarks.unique()[0:20]

array([None, 'bracket (Hsing Shan Hsien)', 'bracket',
       'bracket (Hangchow)', 'bracket (Taipei Hsien)',
       '[locality from another sheet this collection; locality on this sheet not easily discerned.]',
       'bracket (De-xin)', 'Mpo. specified as El Zapotal, not current',
       'bracket (Hsiushui)', 'bracket (I-Hing)',
       'Verbatim: UTM2N  #¡Núm!     UTM1E  #¡Núm! ', 'bracket (Taitung)',
       'bracket (Nanking)', 'bracket (Kaohsiung Hsien)',
       'breacket (Tsing-tien)', 'bracket (Taipei)',
       "Lat/Long given as: lat. 15° 04-07'N. long. 92° 06-07'W",
       '[label says 4500 m but other collections this locality are 1370 m, 4500 ft]',
       'bracket (Hang Chow)', 'bracket (Ilan Hsien)'], dtype=object)

# Locality Detail Table

In [174]:
# SQL query to fetch data
query = "SELECT * FROM localitydetail"

# Reading the data into a pandas DataFrame
locality_detail_df = pd.read_sql(query, connection)

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_26565/2917427723.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  locality_detail_df = pd.read_sql(query, connection)

In [175]:
locality_detail_df.head()

,LocalityDetailID,TimestampCreated,TimestampModified,Version,BaseMeridian,Drainage,EndDepth,enddepthunit,EndDepthVerbatim,GML,...,Number4,Number5,PaleoLat,PaleoLng,Text3,Text4,Text5,YesNo3,YesNo4,YesNo5
0,1,2011-09-23 08:51:17,2011-09-23 08:51:17,0,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,2,2011-09-23 08:55:48,2011-09-23 08:55:48,0,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,3,2011-09-23 08:59:36,2011-09-23 08:59:36,0,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,4,2011-09-23 09:02:37,2011-09-23 09:02:37,0,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,8,2011-09-23 10:35:23,2012-01-10 17:01:38,1,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [176]:
locality_detail_df.__len__()

48366

In [177]:
locality_detail_df[['LocalityDetailID', 'RangeDesc', 'Section', 'Text1', 'Township', 'UtmEasting', 'LocalityID']]

,LocalityDetailID,RangeDesc,Section,Text1,Township,UtmEasting,LocalityID
0,1,None,None,None,None,651100.0,239491.0
1,2,None,None,None,None,651100.0,239492.0
2,3,None,None,None,None,656800.0,239493.0
3,4,None,None,None,None,656800.0,239494.0
4,8,20E,6 MD.,None,11N,NaN,239549.0
...,...,...,...,...,...,...,...
48361,53075,1W,3,None,4S,NaN,758829.0
48362,53076,39E,25,None,8N,NaN,758831.0
48363,53077,4E,19,None,6S,NaN,758832.0
48364,53078,62E,34,None,45N,NaN,758833.0
48365,53079,36E,1,None,7N,NaN,758834.0

# Geography

In [178]:
# SQL query to fetch data
query = "SELECT * FROM geography"

# Reading the data into a pandas DataFrame
geography_df = pd.read_sql(query, connection)

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_26565/3369494963.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  geography_df = pd.read_sql(query, connection)

In [179]:
geography_df

,GeographyID,TimestampCreated,TimestampModified,Version,Abbrev,CentroidLat,CentroidLon,CommonName,FullName,GeographyCode,...,Remarks,Text1,Text2,TimestampVersion,ModifiedByAgentID,CreatedByAgentID,ParentID,GeographyTreeDefID,AcceptedID,GeographyTreeDefItemID
0,1,2011-09-21 13:52:33,2011-09-21 13:52:33,8,None,NaN,NaN,None,Earth,None,...,None,None,None,None,NaN,NaN,NaN,1,NaN,1
1,2,2011-09-21 13:48:03,2011-09-21 13:48:03,1,AF,7.19,21.09,None,Africa,None,...,None,None,None,None,NaN,1.0,1.0,1,NaN,2
2,3,2011-09-21 13:48:03,2011-09-21 13:48:03,3,AS,29.84,89.30,None,Asia,None,...,None,None,None,None,NaN,1.0,1.0,1,NaN,2
3,4,2011-09-21 13:48:03,2011-09-21 13:48:03,3,EU,48.69,9.14,None,Europe,None,...,None,None,None,None,NaN,1.0,1.0,1,NaN,2
4,5,2011-09-21 13:48:03,2011-09-21 13:48:03,1,NA,46.07,-100.00,None,North America,None,...,None,None,None,None,NaN,1.0,1.0,1,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31297,34401,2024-02-28 13:50:04,2024-02-28 13:50:04,1,None,NaN,NaN,None,"Bago City, Province of Negros Occidental, Phil...",None,...,None,None,None,None,96761.0,96761.0,2891.0,1,NaN,5
31298,34402,2024-02-28 13:55:29,2024-02-28 13:55:29,1,None,NaN,NaN,None,"Baguio, Province of Benguet, Philippines",None,...,None,None,None,None,96761.0,96761.0,2855.0,1,NaN,5
31299,34403,2024-02-28 15:07:56,2024-02-28 15:07:56,1,None,NaN,NaN,None,"Bais, Province of Negros Oriental, Philippines",None,...,None,None,None,None,96761.0,96761.0,2892.0,1,NaN,5
31300,34404,2024-03-01 10:26:39,2024-03-01 10:26:39,1,None,NaN,NaN,None,"Batangas City, Province of Batangas, Philippines",None,...,None,None,None,None,96761.0,96761.0,2854.0,1,NaN,5
31301,34408,2024-04-04 11:29:07,2024-04-04 11:29:07,1,None,NaN,NaN,None,"St. Tammany Parish, Louisiana, United States, ...",None,...,None,None,None,None,80840.0,80840.0,22764.0,1,NaN,7

In [180]:
geography_df.columns

Index(['GeographyID', 'TimestampCreated', 'TimestampModified', 'Version',
       'Abbrev', 'CentroidLat', 'CentroidLon', 'CommonName', 'FullName',
       'GeographyCode', 'GML', 'GUID', 'HighestChildNodeNumber', 'IsAccepted',
       'IsCurrent', 'Name', 'NodeNumber', 'Number1', 'Number2', 'RankID',
       'Remarks', 'Text1', 'Text2', 'TimestampVersion', 'ModifiedByAgentID',
       'CreatedByAgentID', 'ParentID', 'GeographyTreeDefID', 'AcceptedID',
       'GeographyTreeDefItemID'],
      dtype='object')

In [181]:
geography_df[['GeographyID', 'CentroidLat', 'CentroidLon', 'CommonName', 'FullName', 'Name']]

,GeographyID,CentroidLat,CentroidLon,CommonName,FullName,Name
0,1,NaN,NaN,None,Earth,Earth
1,2,7.19,21.09,None,Africa,Africa
2,3,29.84,89.30,None,Asia,Asia
3,4,48.69,9.14,None,Europe,Europe
4,5,46.07,-100.00,None,North America,North America
...,...,...,...,...,...,...
31297,34401,NaN,NaN,None,"Bago City, Province of Negros Occidental, Phil...",Bago City
31298,34402,NaN,NaN,None,"Baguio, Province of Benguet, Philippines",Baguio
31299,34403,NaN,NaN,None,"Bais, Province of Negros Oriental, Philippines",Bais
31300,34404,NaN,NaN,None,"Batangas City, Province of Batangas, Philippines",Batangas City
31301,34408,NaN,NaN,None,"St. Tammany Parish, Louisiana, United States, ...","St. Tammany Parish, Louisiana, United States"

# Geo Coord Detail Table

In [182]:
# SQL query to fetch data
query = "SELECT * FROM geocoorddetail"

# Reading the data into a pandas DataFrame
geo_coord_detail_df = pd.read_sql(query, connection)

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_26565/2842786756.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  geo_coord_detail_df = pd.read_sql(query, connection)

In [183]:
geo_coord_detail_df

,GeoCoordDetailID,TimestampCreated,TimestampModified,Version,GeoRefAccuracyUnits,GeoRefDetDate,GeoRefDetRef,GeoRefRemarks,GeoRefVerificationStatus,MaxUncertaintyEst,...,Number3,Number4,Number5,Text4,Text5,YesNo1,YesNo2,YesNo3,YesNo4,YesNo5
0,1,2010-01-05 11:30:15,NaT,0,None,NaT,None,Lat/long est.,None,NaN,...,None,None,None,None,None,None,None,None,None,None
1,2,2010-01-05 11:30:15,NaT,0,None,NaT,None,Lat/long est.,None,NaN,...,None,None,None,None,None,None,None,None,None,None
2,3,2010-01-05 11:30:15,NaT,0,None,NaT,None,Lat/long est.,None,NaN,...,None,None,None,None,None,None,None,None,None,None
3,4,2010-01-05 11:30:15,NaT,0,None,NaT,None,Lat/long est.,None,NaN,...,None,None,None,None,None,None,None,None,None,None
4,5,2010-01-05 11:30:15,NaT,0,None,NaT,None,Lat/long est.,None,NaN,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27626,59135,2024-08-01 11:06:11,2024-08-01 11:06:11,0,None,NaT,None,None,None,2.77,...,None,None,None,None,None,None,None,None,None,None
27627,59136,2024-08-01 11:14:11,2024-08-01 11:14:11,0,None,NaT,None,None,None,7.73,...,None,None,None,None,None,None,None,None,None,None
27628,59137,2024-08-01 11:18:06,2024-08-01 11:18:06,0,None,NaT,None,None,None,7.73,...,None,None,None,None,None,None,None,None,None,None
27629,59138,2024-08-01 11:19:39,2024-08-01 11:19:39,0,None,NaT,None,None,None,7.73,...,None,None,None,None,None,None,None,None,None,None
27630,59139,2024-08-01 11:20:43,2024-08-01 11:20:43,0,None,NaT,None,None,None,7.73,...,None,None,None,None,None,None,None,None,None,None

In [184]:
geo_coord_detail_df[['GeoCoordDetailID', 'GeoRefRemarks', 'LocalityID']]

       GeoCoordDetailID  GeoRefRemarks  LocalityID
0                     1  Lat/long est.      235352
1                     2  Lat/long est.      235353
2                     3  Lat/long est.      235560
3                     4  Lat/long est.      238882
4                     5  Lat/long est.      238883
...                 ...            ...         ...
27626             59135           None      757822
27627             59136           None      757825
27628             59137           None      757826
27629             59138           None      757827
27630             59139           None      757828

[27631 rows x 3 columns]

This seems to be unrelated to us!

## Questions
- What is Latitude1 vs Latitude2?
- Do we really care about lat/lon/elevation accuracy and original unit?

In [185]:
full_df = collection_object_df[['CollectionObjectID', 'Text1', 'CountAmt', 'CollectingEventID']]

# Merge in Collection Object Attachment table
full_df = full_df.merge(right=collection_object_attachment_df[['CollectionObjectID', 'CollectionObjectAttachmentID', 'AttachmentID']], on='CollectionObjectID', how='left')

# Merge in Attachment table
full_df = full_df.merge(right=attachment_df[['AttachmentID', 'AttachmentLocation', 'Remarks']], on='AttachmentID', how='left')

# Merge in Collecting Event table
full_df = full_df.merge(right=collecting_event_df[['CollectingEventID', 'StartDate', 'EndDate', 'Remarks', 'LocalityID']], on='CollectingEventID', how='left')

full_df = full_df.merge(right=locality_df[['LocalityID', 'MinElevation', 'MaxElevation', 'ElevationAccuracy', 'Latitude1', 'Longitude1', 'LocalityName', 'NamedPlace', 'GeographyID']], on='LocalityID', how='left')

In [186]:
full_df

,CollectionObjectID,Text1,CountAmt,CollectingEventID,CollectionObjectAttachmentID,AttachmentID,AttachmentLocation,Remarks_x,StartDate,EndDate,Remarks_y,LocalityID,MinElevation,MaxElevation,ElevationAccuracy,Latitude1,Longitude1,LocalityName,NamedPlace,GeographyID
0,1,Shrub 10 feet tall,1.0,126372.0,177213.0,177214.0,191c7bd6-83cd-4917-8196-c79e6414c4bf.jpg,http://ibss-images.calacademy.org:80/static/bo...,1976-11-22,1976-11-22,Steep slopes and dry ravines,543494.0,1100.0,1100.0,0.0,NaN,NaN,along Río Cuilco between Nuevo Amatenango and ...,None,28207.0
1,4,Growing on Quercus trunk.,5.0,195645.0,NaN,NaN,NaN,NaN,1988-05-23,None,"Ridge with Pinus, Quercus and Ostrya, Prunus a...",195645.0,2700.0,NaN,NaN,NaN,NaN,In Colonia Chalam,None,28307.0
2,5,Tree ca. 4 m tall. Fruit purplish black.,8.0,66157.0,NaN,NaN,NaN,NaN,2004-10-29,None,Tsuga dumosa forest mixed with elements of sub...,66157.0,2500.0,NaN,NaN,27.717865,98.421631,Vicinity of Sandui campsite between Shigong Qi...,Vicinity of Sandui campsite between Shigong Qi...,33272.0
3,7,Tree 60 feet tall.,1.0,81225.0,NaN,NaN,NaN,NaN,1982-01-14,1982-01-14,Montane Rain Forest.,81225.0,760.0,760.0,0.0,NaN,NaN,80 km SW of Palenque on road to Ocosingo along...,None,28268.0
4,8,None,1.0,44023.0,98924.0,98925.0,8560a4a4-af49-4981-af42-c692d9138617.jpg,http://ibss-images.calacademy.org:80/static/bo...,1954-05-01,1954-05-01,Ridge,44023.0,NaN,NaN,NaN,NaN,NaN,Above Sucker Creek,None,16253.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
788480,988271,Annual,NaN,823109.0,NaN,NaN,NaN,NaN,2020-04-09,None,Growing in talus below limestone rock outcrops,758830.0,2600.0,NaN,NaN,36.279700,-116.169100,"NW side Stewart Valley, 8.6 road miles N of hi...",None,19090.0
788481,988272,"Annual to 1.2 m tall, multi-branched.",NaN,823110.0,NaN,NaN,NaN,NaN,2023-06-02,None,Growing with Sarcobatus baileyi on the valley ...,758831.0,5600.0,NaN,NaN,38.530200,-117.546340,"Big Smoky Valley, 2.7 road miles NNE of Gabbs ...",None,19090.0
788482,988273,"Annual, petals yellow, sepals with yellow marg...",NaN,823111.0,NaN,NaN,NaN,NaN,2022-04-08,None,"Heavy clay and rocky ""pebble plain"" soil, appa...",758832.0,5400.0,NaN,NaN,33.633333,-116.600000,Garner Valley Watershed. W of Morris Ranch Roa...,None,22474.0
788483,988274,petals yellow,NaN,823112.0,NaN,NaN,NaN,NaN,2023-08-22,None,Growing at the edge of a small pond along the ...,758833.0,6440.0,NaN,NaN,41.744940,-114.945580,"Snake Mountains, canyon on W side of Little De...",None,10391.0
788484,988275,"Annual, glaucous, growing around Juniperus.",NaN,823113.0,NaN,NaN,NaN,NaN,2023-05-29,None,"Growing on open Juniper barrens, clay soil.",758834.0,6180.0,NaN,NaN,38.496270,-117.916740,"Monte Cristo Valley, 0.3 road miles W of main ...",None,17060.0

In [187]:
print(full_df[full_df.CountAmt > 1].iloc[0])

print(full_df[full_df.CountAmt > 1].iloc[0]['Remarks'])

CollectionObjectID                                                              4
Text1                                                   Growing on Quercus trunk.
CountAmt                                                                      5.0
CollectingEventID                                                        195645.0
CollectionObjectAttachmentID                                                  NaN
AttachmentID                                                                  NaN
AttachmentLocation                                                            NaN
Remarks_x                                                                     NaN
StartDate                                                              1988-05-23
EndDate                                                                      None
Remarks_y                       Ridge with Pinus, Quercus and Ostrya, Prunus a...
LocalityID                                                               195645.0
MinElevation                                                               2700.0
MaxElevation                                                                  NaN
ElevationAccuracy                                                             NaN
Latitude1                                                                     NaN
Longitude1                                                                    NaN
LocalityName                                                    In Colonia Chalam
NamedPlace                                                                   None
GeographyID                                                               28307.0
Name: 1, dtype: object

KeyError: 'Remarks'

In [142]:
print(full_df[full_df.CountAmt > 1].iloc[1000])

print(full_df[full_df.CountAmt > 1].iloc[1000]['Remarks'])

CollectionObjectID                                                           9673
Text1                             Perennial herb ca. 1 m tall. Young fruit green.
CountAmt                                                                      8.0
CollectingEventID                                                        223923.0
CollectionObjectAttachmentID                                             106599.0
AttachmentID                                                             106600.0
AttachmentLocation                       45a5e0be-23c1-464a-9662-6cc0c397ccf0.jpg
Remarks_x                       http://ibss-images.calacademy.org:80/static/bo...
StartDate                                                              2002-10-06
EndDate                                                                2002-10-06
Remarks_y                                                                    None
LocalityID                                                               223923.0
MinElevation                                                               1570.0
MaxElevation                                                               1570.0
ElevationAccuracy                                                             0.0
Latitude1                                                               27.905278
Longitude1                                                              98.659722
LocalityName                    Vicinity of Jimudeng village along road from G...
NamedPlace                      Vicinity of Jimudeng village along road from G...
GeographyID                                                               33274.0
Name: 5603, dtype: object

KeyError: 'Remarks'

In [ ]:
# Closing the connection
connection.close()