In [6]:
import numpy as np
import pandas as pd

import pymysql

In [13]:
# Database connection parameters
db_config = {
    'host': 'localhost',  # or the IP address of your MySQL server
    'port': 3306,         # default MySQL port
    'user': 'myuser',
    'password': 'mypassword',
    'database': 'exped_cluster_db'
}

# Establishing the connection
connection = pymysql.connect(
    host=db_config['host'],
    port=db_config['port'],
    user=db_config['user'],
    password=db_config['password'],
    database=db_config['database']
)

# Collecting Event Table

In [18]:

# SQL query to fetch data
query = "SELECT * FROM collectingevent"

# Reading the data into a pandas DataFrame
collecting_event_df = pd.read_sql(query, connection)

# Displaying the first few rows of the DataFrame
collecting_event_df.head()

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_26565/3306454721.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  collecting_event_df = pd.read_sql(query, connection)

,CollectingEventID,TimestampCreated,TimestampModified,Version,EndDate,EndDatePrecision,EndDateVerbatim,EndTime,Method,Remarks,...,StationFieldNumberModifier1,StationFieldNumberModifier2,StationFieldNumberModifier3,Text3,Text4,Text5,Text6,Text7,Text8,UniqueIdentifier
0,1,2007-03-21 16:23:34,2007-03-21 16:23:34,2,None,0.0,None,None,None,Rhododendron-bamboo thicket with scattered Abies.,...,None,None,None,None,None,None,None,None,None,None
1,2,2007-03-21 16:23:27,2017-06-07 16:46:53,2,None,0.0,None,None,None,"Selva baja caducifolia, Ruderal. Secund.",...,None,None,None,None,None,None,None,None,None,None
2,3,2007-03-21 16:23:48,2010-10-05 14:21:32,1,1922-08-10,1.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,4,2012-05-16 16:31:38,2012-05-17 14:43:24,2,None,1.0,None,None,None,atop sea bluffs. With Dudleya edulis over a l...,...,None,None,None,None,None,None,None,None,None,None
4,5,2009-05-22 16:17:06,2009-05-22 16:19:59,1,1964-03-01,2.0,None,None,None,Slope with Quercus,...,None,None,None,None,None,None,None,None,None,None

In [19]:
len(collecting_event_df)

777807

In [20]:
collecting_event_df.columns

Index(['CollectingEventID', 'TimestampCreated', 'TimestampModified', 'Version',
       'EndDate', 'EndDatePrecision', 'EndDateVerbatim', 'EndTime', 'Method',
       'Remarks', 'StartDate', 'StartDatePrecision', 'StartDateVerbatim',
       'StartTime', 'StationFieldNumber', 'VerbatimDate', 'VerbatimLocality',
       'Visibility', 'ModifiedByAgentID', 'LocalityID', 'CreatedByAgentID',
       'DisciplineID', 'VisibilitySetByID', 'CollectingTripID',
       'CollectingEventAttributeID', 'SGRStatus', 'GUID', 'Integer1',
       'Integer2', 'ReservedInteger3', 'ReservedInteger4', 'ReservedText1',
       'ReservedText2', 'Text1', 'Text2', 'PaleoContextID',
       'StationFieldNumberModifier1', 'StationFieldNumberModifier2',
       'StationFieldNumberModifier3', 'Text3', 'Text4', 'Text5', 'Text6',
       'Text7', 'Text8', 'UniqueIdentifier'],
      dtype='object')

In [21]:
collecting_event_df[['CollectingEventID', 'StartDate', 'EndDate', 'Remarks', 'LocalityID']]

,CollectingEventID,StartDate,EndDate,Remarks,LocalityID
0,1,2005-08-17,None,Rhododendron-bamboo thicket with scattered Abies.,1.0
1,2,1988-08-19,None,"Selva baja caducifolia, Ruderal. Secund.",2.0
2,3,1922-08-10,1922-08-10,None,3.0
3,4,1950-04-24,None,atop sea bluffs. With Dudleya edulis over a l...,295658.0
4,5,1964-01-01,1964-03-01,Slope with Quercus,5.0
...,...,...,...,...,...
777802,823109,2020-04-09,None,Growing in talus below limestone rock outcrops,758830.0
777803,823110,2023-06-02,None,Growing with Sarcobatus baileyi on the valley ...,758831.0
777804,823111,2022-04-08,None,"Heavy clay and rocky ""pebble plain"" soil, appa...",758832.0
777805,823112,2023-08-22,None,Growing at the edge of a small pond along the ...,758833.0
777806,823113,2023-05-29,None,"Growing on open Juniper barrens, clay soil.",758834.0

## Questions

- What is the date precision? {0:Null, 1:Excellent, 2:Good, 3:Bad}?
- Should we use date times?
- What is verbatim date?
- What is StationFieldNumber?

# Collecting Event Attribute Table

In [24]:

# SQL query to fetch data
query = "SELECT * FROM collectingeventattribute"

# Reading the data into a pandas DataFrame
collecting_event_attribute_df = pd.read_sql(query, connection)

# Displaying the first few rows of the DataFrame
collecting_event_attribute_df.tail()

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_26565/2154564346.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  collecting_event_attribute_df = pd.read_sql(query, connection)

,CollectingEventAttributeID,TimestampCreated,TimestampModified,Version,Number1,Number10,Number11,Number12,Number13,Number2,...,Integer1,Integer10,Integer2,Integer3,Integer4,Integer5,Integer6,Integer7,Integer8,Integer9
28080,29704,2021-09-01 12:58:34,2021-09-01 12:58:34,0,213688.0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
28081,29705,2021-10-18 13:47:50,2021-10-18 13:47:50,0,129827.0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
28082,29706,2021-11-17 11:40:15,2021-11-17 11:40:15,0,221450.0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
28083,29707,2023-01-05 15:24:08,2023-01-05 15:24:08,0,106953.0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
28084,29708,2023-08-09 13:19:53,2023-08-09 13:19:53,0,48670.0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [23]:
len(collecting_event_attribute_df)

28085

## Questions

- Is this a table we even care about? Or is it some artifact?
- Where is a key for the column names

# Collection Object Table

In [33]:

# SQL query to fetch data
query = "SELECT * FROM collectionobject"

# Reading the data into a pandas DataFrame
collection_object_df = pd.read_sql(query, connection)

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_26565/1360221400.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  collection_object_df = pd.read_sql(query, connection)

In [34]:
# Displaying the first few rows of the DataFrame
collection_object_df.head()

,CollectionObjectID,TimestampCreated,TimestampModified,Version,CollectionMemberID,AltCatalogNumber,Availability,CatalogNumber,CatalogedDate,CatalogedDatePrecision,...,EmbargoReleaseDatePrecision,EmbargoStartDate,EmbargoStartDatePrecision,Text4,Text5,Text6,Text7,Text8,UniqueIdentifier,EmbargoAuthorityID
0,1,2007-03-21 16:29:20,2020-07-24 16:47:38,3,4,702772,None,000522744,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None
1,4,2007-03-21 16:29:24,2024-06-24 15:14:03,24,4,1263814,None,000550184,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None
2,5,2007-03-21 16:29:20,2013-11-11 16:46:22,2,4,1060568,None,000319960,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None
3,7,2007-03-21 16:29:18,2016-05-13 14:43:44,2,4,674815,None,000504936,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None
4,8,2007-03-21 16:29:17,2009-05-20 11:41:43,1,4,385059,None,000005321,2007-03-21,1.0,...,None,None,None,None,None,None,None,None,None,None

In [35]:
collection_object_df.columns

Index(['CollectionObjectID', 'TimestampCreated', 'TimestampModified',
       'Version', 'CollectionMemberID', 'AltCatalogNumber', 'Availability',
       'CatalogNumber', 'CatalogedDate', 'CatalogedDatePrecision',
       'CatalogedDateVerbatim', 'CountAmt', 'Deaccessioned', 'Description',
       'FieldNumber', 'GUID', 'InventoryDate', 'Modifier', 'Name',
       'Notifications', 'Number1', 'Number2', 'ObjectCondition',
       'ProjectNumber', 'Remarks', 'Restrictions', 'Text1', 'Text2',
       'TotalValue', 'OCR', 'Visibility', 'YesNo1', 'YesNo2', 'YesNo3',
       'YesNo4', 'YesNo5', 'YesNo6', 'CollectionID', 'CollectingEventID',
       'ContainerID', 'FieldNotebookPageID', 'PaleoContextID',
       'CreatedByAgentID', 'AccessionID', 'ContainerOwnerID',
       'CollectionObjectAttributeID', 'AppraisalID', 'ModifiedByAgentID',
       'VisibilitySetByID', 'CatalogerID', 'SGRStatus', 'ReservedText',
       'Text3', 'Integer1', 'Integer2', 'ReservedInteger3', 'ReservedInteger4',
       'ReservedText2', 'ReservedText3', 'InventorizedByID', 'Date1',
       'Date1Precision', 'InventoryDatePrecision', 'Agent1ID',
       'NumberOfDuplicates', 'EmbargoReason', 'EmbargoReleaseDate',
       'EmbargoReleaseDatePrecision', 'EmbargoStartDate',
       'EmbargoStartDatePrecision', 'Text4', 'Text5', 'Text6', 'Text7',
       'Text8', 'UniqueIdentifier', 'EmbargoAuthorityID'],
      dtype='object')

In [36]:
len(collection_object_df)

777812

In [40]:
collection_object_df[['CollectionObjectID', 'Text1', 'CollectingEventID']]

,CollectionObjectID,Text1,CollectingEventID
0,1,Shrub 10 feet tall,126372.0
1,4,Growing on Quercus trunk.,195645.0
2,5,Tree ca. 4 m tall. Fruit purplish black.,66157.0
3,7,Tree 60 feet tall.,81225.0
4,8,None,44023.0
...,...,...,...
777807,988271,Annual,823109.0
777808,988272,"Annual to 1.2 m tall, multi-branched.",823110.0
777809,988273,"Annual, petals yellow, sepals with yellow marg...",823111.0
777810,988274,petals yellow,823112.0
777811,988275,"Annual, glaucous, growing around Juniperus.",823113.0

In [44]:
len(collection_object_df.CollectionObjectID.unique())/len(collection_object_df)

1.0

In [46]:
len(collection_object_df.CollectingEventID.unique())/len(collection_object_df)

0.9999794294765316

In [56]:
sum(collection_object_df.CollectingEventID.value_counts(sort='desc') > 1)

0

In [58]:
collection_object_df[collection_object_df.CollectingEventID.isna()]

,CollectionObjectID,TimestampCreated,TimestampModified,Version,CollectionMemberID,AltCatalogNumber,Availability,CatalogNumber,CatalogedDate,CatalogedDatePrecision,...,EmbargoReleaseDatePrecision,EmbargoStartDate,EmbargoStartDatePrecision,Text4,Text5,Text6,Text7,Text8,UniqueIdentifier,EmbargoAuthorityID
416480,592370,2014-01-28 09:24:13,2014-04-21 18:21:32,9,4,99999,None,None,2014-01-28,1.0,...,None,None,None,None,None,None,None,None,None,None
599732,781521,2018-03-22 14:05:45,2018-03-22 14:05:45,1,4,384751,None,000582690,2018-03-22,1.0,...,None,None,None,None,None,None,None,None,None,None
600240,782080,2018-04-04 14:27:04,2018-04-04 14:27:04,1,4,166593,None,000581424,2018-04-04,1.0,...,None,None,None,None,None,None,None,None,None,None
600541,782391,2018-04-12 10:01:04,2018-04-12 10:01:04,1,4,1283307,None,000584176,2018-04-12,1.0,...,None,None,None,None,None,None,None,None,None,None
600546,782401,2018-04-12 10:15:02,2018-04-12 10:15:02,1,4,1283307,None,000584173,2018-04-12,1.0,...,None,None,None,None,None,None,None,None,None,None
602874,784864,2018-05-31 13:29:45,2018-05-31 13:30:35,2,4,589578,None,000397499,2018-05-31,1.0,...,None,None,None,None,None,None,None,None,None,None
605084,787251,2018-07-25 10:21:15,2018-07-25 10:22:57,2,4,None,None,None,2018-07-25,1.0,...,None,None,None,None,None,None,None,None,None,None
606534,788831,2018-08-27 16:39:03,2018-08-28 14:45:30,2,4,24651,None,000591137,2018-08-27,1.0,...,None,None,None,None,None,None,None,None,None,None
608915,791369,2018-10-15 13:58:07,2018-10-15 14:07:39,3,4,None,None,None,2018-10-15,1.0,...,None,None,None,None,None,None,None,None,None,None
611217,793775,2018-11-01 14:45:00,2018-11-01 14:45:00,1,4,598971,None,000597219,2018-11-01,1.0,...,None,None,None,None,None,None,None,None,None,None
618520,804989,2019-01-30 12:36:06,2019-01-30 12:36:06,1,4,1290022,None,000606726,2019-01-30,1.0,...,None,None,None,None,None,None,None,None,None,None
624668,811298,2019-03-07 06:58:15,2019-03-07 06:58:15,1,4,374562,None,000609466,2019-03-07,1.0,...,None,None,None,None,None,None,None,None,None,None
639491,826683,2019-07-24 09:38:42,2019-07-24 09:38:42,1,4,None,None,None,2019-07-24,1.0,...,None,None,None,None,None,None,None,None,None,None
645070,832847,2019-09-12 11:25:11,2019-09-12 11:25:11,1,4,168357,None,000632740,2019-09-12,1.0,...,None,None,None,None,None,None,None,None,None,None
654741,843210,2019-11-20 15:46:58,2019-11-20 15:46:58,1,4,1299030,None,000640437,2019-11-20,1.0,...,None,None,None,None,None,None,None,None,None,None
661754,850458,2020-01-22 11:21:39,2020-01-22 11:21:39,1,4,1302447,None,000647888,2020-01-22,1.0,...,None,None,None,None,None,None,None,None,None,None
664296,853076,2020-02-12 10:20:55,2020-02-12 10:20:55,1,4,1294099,None,000650303,2020-02-12,1.0,...,None,None,None,None,None,None,None,None,None,None

Seems like collection object -> collecting event is 1-1. There are 17 records in collection oject that are missing a collecting event ID but thats it!

## Questions

- What is (alt) catalog number?
- What is count amount?
- Agent vs Cataloger? Appraisal? Container Owner? 
- What is reserved text?

In [38]:
collection_object_df['ReservedText'].unique()

array([None, 'Gaoligong Shan', 'PBI Miconieae', 'Madagascar',
       'Gary Li Masters Project', 'Brazil', 'Symplocos',
       'Costa Rica Melastomes', 'Symplocos-Antilles', 'Chiapas',
       'Camporupestre', 'Picturae Project'], dtype=object)

In [39]:
collection_object_df['ReservedText2'].unique()

array(['Chiapas', None, 'California Plants'], dtype=object)

# Collection Object Attachment Table

In [41]:
# SQL query to fetch data
query = "SELECT * FROM collectionobjectattachment"

# Reading the data into a pandas DataFrame
collection_object_attachment_df = pd.read_sql(query, connection)

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_26565/695489410.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  collection_object_attachment_df = pd.read_sql(query, connection)

In [42]:
print(len(collection_object_attachment_df))

print(collection_object_attachment_df.columns)

collection_object_attachment_df.head()

492474
Index(['CollectionObjectAttachmentID', 'TimestampCreated', 'TimestampModified',
       'Version', 'CollectionMemberID', 'Ordinal', 'Remarks',
       'CreatedByAgentID', 'CollectionObjectID', 'ModifiedByAgentID',
       'AttachmentID'],
      dtype='object')

,CollectionObjectAttachmentID,TimestampCreated,TimestampModified,Version,CollectionMemberID,Ordinal,Remarks,CreatedByAgentID,CollectionObjectID,ModifiedByAgentID,AttachmentID
0,94484,2022-06-02 18:16:53,2022-06-02 18:16:53,0,4,0,None,95728,214585,NaN,94485
1,94485,2022-06-02 18:17:01,2022-06-02 18:17:01,0,4,0,None,95728,46696,NaN,94486
2,94486,2022-06-02 18:17:09,2022-06-02 18:17:09,0,4,0,None,95728,13549,NaN,94487
3,94487,2022-06-02 18:17:18,2022-06-02 18:17:18,0,4,0,None,95728,353869,NaN,94488
4,94488,2022-06-02 18:17:26,2022-06-02 18:17:26,0,4,0,None,95728,250304,NaN,94489

# Attachment

In [62]:
# SQL query to fetch data
query = "SELECT * FROM attachment"

# Reading the data into a pandas DataFrame
attachment_df = pd.read_sql(query, connection)

/var/folders/qx/bpj16cl90cq20swjd4j79cdh0000gn/T/ipykernel_26565/2757682253.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  attachment_df = pd.read_sql(query, connection)

In [63]:
attachment_df.head()

,AttachmentID,TimestampCreated,TimestampModified,Version,AttachmentLocation,CopyrightDate,CopyrightHolder,Credit,DateImaged,FileCreatedDate,...,VisibilitySetByID,IsPublic,CreatorID,CaptureDevice,LicenseLogoUrl,MetadataText,SubjectOrientation,Subtype,Type,AttachmentStorageConfig
0,94485,2022-06-02 18:16:53,2022-06-02 18:16:53,0,f1428550-8047-41aa-bcec-00031e08784c.jpg,None,None,None,None,2022-06-02,...,None,b'\x01',None,None,None,None,None,None,None,None
1,94486,2022-06-02 18:17:01,2022-06-02 18:17:01,0,5d18edf1-5a48-4d2b-8676-53054b3d6e54.jpg,None,None,None,None,2022-06-02,...,None,b'\x01',None,None,None,None,None,None,None,None
2,94487,2022-06-02 18:17:09,2022-06-02 18:17:09,0,09e2db83-419f-4430-8da0-ec8eeaed63f7.jpg,None,None,None,None,2022-06-02,...,None,b'\x01',None,None,None,None,None,None,None,None
3,94488,2022-06-02 18:17:17,2022-06-02 18:17:17,0,bcf2aae6-1fd5-4d21-8b90-2a857953edf1.jpg,None,None,None,None,2022-06-02,...,None,b'\x01',None,None,None,None,None,None,None,None
4,94489,2022-06-02 18:17:26,2022-06-02 18:17:26,0,fdfd57aa-6e0b-4145-8b41-2e12421c985b.jpg,None,None,None,None,2022-06-02,...,None,b'\x01',None,None,None,None,None,None,None,None

In [60]:
full_df = collection_object_df[['CollectionObjectID', 'Text1', 'CollectingEventID']]

full_df = full_df.merge(collection_object_attachment_df[['CollectionObjectID', 'CollectionObjectAttachmentID', 'AttachmentID']])

full_df = full_df.merge()

,CollectionObjectID,Text1,CollectingEventID,CollectionObjectAttachmentID,AttachmentID
0,1,Shrub 10 feet tall,126372.0,177213,177214
1,8,None,44023.0,98924,98925
2,20,Tree ca. 8 m tall. Young fruits green.,105773.0,153980,153981
3,23,None,213180.0,577863,577967
4,24,None,19002.0,365549,365652
...,...,...,...,...,...
492469,986964,Annual.,821872.0,605926,606030
492470,986965,"Annual, stem erect.",821873.0,605925,606029
492471,986966,"Annual, prostrate, nerves anchor shaped.",821874.0,605924,606028
492472,986967,"Stems erect, tepals pink.",821875.0,605923,606027
492473,987476,None,822354.0,605942,606046

In [ ]:
# Closing the connection
connection.close()